﻿<div data-ng-controller="SubNavController" class="btn-toolbar pull-right">
    <div class="btn-group">
        <button onclick="location.href = '#/settings/controls'" data-ng-class="{ active: isActive('/settings/controls')}" class="btn btn-default btn-sm ng-binding">{{lbl.contactForm}}</button>
        <button onclick="location.href = '#/settings/search'" data-ng-class="{ active: isActive('/settings/search')}" class="btn btn-default btn-sm ng-binding">{{lbl.searchField}}</button>
        <button onclick="location.href = '#/settings/blogroll'" data-ng-class="{ active: isActive('/settings/blogroll')}" class="btn btn-default btn-sm ng-binding">{{lbl.blogroll}}</button>
        <button onclick="location.href = '#/settings/pings'" data-ng-class="{ active: isActive('/settings/pings')}" class="btn btn-default btn-sm ng-binding">{{lbl.pingService}}</button>
    </div>
</div>