﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="StandardSite" Codebehind="site.master.cs" %>

<%@ Import Namespace="BlogEngine.Core" %>
<%@ Import Namespace="System.Linq" %>
<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/pics/blogengine.ico" type="image/x-icon" />
    <link href="~/editors/tiny_mce_3_5_8/plugins/syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css" />
    <link href="~/editors/tiny_mce_3_5_8/plugins/syntaxhighlighter/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="<%# ShRoot %>scripts/XRegExp.js"></script>
    <script type="text/javascript" src="<%# ShRoot %>scripts/shCore.js"></script>
    <script type="text/javascript" src="<%# ShRoot %>scripts/shAutoloader.js"></script>
    <script type="text/javascript" src="<%# ShRoot %>shActivator.js"></script>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server"></asp:ContentPlaceHolder>
    <meta name="google-translate-customization" content="43e0efdb1dd46d48-ddf1933fd53b70fb-geeee9555c5108bf6-16"></meta>
</head>
<body class="<%=Resources.labels.LangDirection %>">
    <form runat="Server">
        <header class="header">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav ">
                            <li><a href="<%=Utils.AbsoluteWebRoot %>"><%=Resources.labels.home %></a></li>
                            <li><a href="<%=Utils.AbsoluteWebRoot %>archive<%= BlogEngine.Core.BlogConfig.FileExtension %>"><%=Resources.labels.archive %></a></li>
                            <li><a href="<%=Utils.AbsoluteWebRoot %>contact<%= BlogEngine.Core.BlogConfig.FileExtension %>"><%=Resources.labels.contact %></a></li>
                            <%foreach (BlogEngine.Core.Page parentPage in BlogEngine.Core.Page.Pages.Where(p => !p.HasParentPage && p.IsPublished && p.ShowInList))
                              { %>
                            <li class="page-menu clearfix">
                                <a href="<%=parentPage.RelativeLink %>" class="pull-left dropdown-m"><%=parentPage.Title%> </a>
                                <%if (parentPage.HasChildPages)
                                  { %>
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle pull-left"><span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-u">
                                    <%foreach (BlogEngine.Core.Page childPage in BlogEngine.Core.Page.Pages.Where(p => p.Parent == parentPage.Id && p.IsPublished))
                                      { %>
                                    <li><a href="<%=childPage.RelativeLink %>"><%=childPage.Title %></a></li>
                                    <% } %>
                                </ul>
                                <% } %></li>
                            <% } %>
                            <% if (Utils.IsMobile)
                               { %>
                            <li>
                                <blog:MobileThemeSwitch ID="MobileThemeSwitch1" runat="server" />
                            </li>
                            <% } %>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a runat="server" id="aLogin"></a></li>
                            <div id="google_translate_element"></div><script type="text/javascript">
                                                                         function googleTranslateElementInit()
                                                                         {
                                                                             new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-39570731-1' }, 'google_translate_element');
                                                                         }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="title-wrapper">
                <div class="container">
                    <img src="<%=Utils.AbsoluteWebRoot %>[CUSTOMFIELD|THEME|Standard|Logo Address|Custom/Themes/Standard/images/logo.png/]" class="pull-left logo" alt="<%=BlogSettings.Instance.Name %>" />
                    <hgroup class="pull-left">
                        <h1><a href="<%=Utils.AbsoluteWebRoot %>"><%=BlogSettings.Instance.Name %></a></h1>
                        <h3><%=BlogSettings.Instance.Description %></h3>
                    </hgroup>
                    <div id="social-icons" class="pull-right social-icon">
                        <a href="http://facebook.com/[CUSTOMFIELD|THEME|Standard|Facebook account|BlogEngine.NET/]">
                            <img src="~/Custom/Themes/Standard/images/facebook.png" runat="server" />
                        </a>
                        <a href="http://twitter.com/[CUSTOMFIELD|THEME|Standard|Twitter account|blogenginenet/]">
                            <img src="~/Custom/Themes/Standard/images/twitter.png" runat="server" />
                        </a>
                        <a href="https://plus.google.com/[CUSTOMFIELD|THEME|Standard|Google plus|u/0/]">
                            <img src="~/Custom/Themes/Standard/images/googleplus.png" runat="server" />
                        </a>
                        <a href="[CUSTOMFIELD|THEME|Standard|Your RSS|syndication.axd/]">
                            <img src="~/Custom/Themes/Standard/images/rss.png" runat="server" />
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <section class="container">
            <div class="row">
                <section class="col-md-8 content-wrapper">
                    <blog:SearchOnSearch ID="SearchOnSearch1" runat="server" MaxResults="3" Headline="You searched for" Text="Here are some results for the search term on this website" />
                    <asp:ContentPlaceHolder ID="cphBody" runat="server" />
                </section>
                <aside class="col-md-4 sidebar-wrapper">
                    <blog:WidgetZone ID="WidgetZone1" runat="server" ZoneName="be_WIDGET_ZONE" />
                </aside>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="widgets-footer clearfix">
                    <blog:WidgetZone ID="WidgetZone2" runat="server" ZoneName="Footer_Widget" />
                </div>
            </div>
            <div class="end-line text-center">
                <p class="text-muted credit">Copyright &copy; <%=DateTime.Now.Year %> <a href="<%=Utils.AbsoluteWebRoot %>"><%=BlogSettings.Instance.Name %></a> - Powered by <a href="http://dotnetblogengine.net" target="_blank">BlogEngine.NET</a> <%=BlogSettings.Instance.Version() %> - Design by <a href="http://seyfolahi.net/" title="Farzin Seyfolahi - UI/UX Designer at BlogEngine.NET" target="_blank">FS</a> </p>
            </div>
        </footer>
        <script src="<%=(Utils.AbsoluteWebRoot + "Custom/Themes/" + BlogSettings.Instance.Theme + "/js/bootstrap.min.js")%>" type="text/javascript"></script>
        <script>
            var links, index, link;
            links = document.getElementById('social-icons').getElementsByTagName('a');
            for (index = 0; index < links.length; ++index) {
                link = links[index];
                if (link.href == 'http://facebook.com/') { link.style.display = "none"; }
                if (link.href == 'http://twitter.com/') { link.style.display = "none"; }
                if (link.href == 'https://plus.google.com/') { link.style.display = "none"; }
            }
        </script>
    </form>
</body>
</html>
