﻿body {
}

#ctl00_cphBody_divError
{
    /*height:2px;
    min-height:2px initial !important;
    border:3px dashed red;
    width:20px;
    color:white;*/

}


#content
{
    position:relative;
    display:block;
    
    /*border:4px solid red;*/

}


.posts 
{
    position:relative;
    display:block;
    margin-top:0px;
    border:2px solid white;
    width:70%;


}




/*[03.post]*/
.post 
{ 
    background-color: #181e26; padding: 2% 4% 4%; margin-bottom: 20px; border-radius: 6px; box-shadow: 0 1px 2px rgba(0,0,0,0.1); 

}


.post .post-header 
{ 
    margin-bottom: 15px; padding-bottom: 5px; border-bottom: 1px solid #ddd; 

}

.post .post-header .post-title 

{ 
    line-height: 20px; font-size: 20px; margin: 15px 0 10px; 

}


.post .post-header .post-title a 
{ 
    text-decoration: none; font-weight: bold; 

}


.post .post-info 
{ 
    font-size: 13px; color: #AAA; 

}


.post .post-info span 
{
     margin-right: 7px; 

}


.post .post-info a 
{ 
    color: #AAA; 
}


.post .post-footer 
{ 
    margin-top: 30px; padding: 15px; background-color: #eeeeee; font-size: 13px; min-height: 35px; border-radius: 4px; border: 1px solid #eeeeee;

}


.post .post-footer:hover 
{ 
    border-color: #ddd; 

}


.post .post-rating 
{ 
    height: 21px; max-width: 50%; 

}


.post .post-rating * 
{ 
    margin: 0; padding: 0; top: 0; line-height: 10px; 

}


.post .post-rating p 

{ 
    top: 9px; 

}



/*[02.well-global]*/
.well-global,#trackbacks 
{ 
  

}

.well-global .well-global-title { }
.well-global .well-global-title h3 {  }
.page-global { }
.page-global .page-global-title { }




#comment-form
{
 
  border-top: 1px solid #2b313b; 
  border-bottom: 1px solid #2b313b; 
  background: #181b20; 
}

#commentlist
{

}




/*[05.comment-form]*/
.comment-form 
{ 
  
}



/*[04.comment-item]*/
.comment-item .comment-content {  }
.comment-item .comment-gravatar { position: relative; }
.comment-item .comment-gravatar img { border-radius: 4px; }
.comment-item .comment-header { border-bottom: 1px solid #EEE; padding-bottom: 5px; }
.comment-item .comment-header h4 { font-weight: bold; font-size: 18px; color: #333; }
.comment-item .comment-header h4 a { color: #333; }
.comment-item .comment-content.self { background-color: #ebffe5; border-color: #c0e0b2 !important; }
.comment-item .self .comment-header { border-bottom-color: #c0e0b2; }
.comment-item .self .comment-header h4 a,
.comment-item .self .comment-header h4 { color: #376f1d !important; }
.comment-item .self a { color: #74af5a; }
.comment-item .self .comment-header .text-uppercase { color: #c0e0b2; }
.comment-item .comment-form { border: 1px solid #CCC; margin: 15px 0; }
.comment-item .carrow { background: url(../images/carrow.png) no-repeat 0 0; width: 9px; height: 17px; position: absolute; right: -11px; top: 14px; z-index: 999; }
.comment-item .self .carrow { background: url(../images/sarrow.png) no-repeat 0 0 !important; }

#commentlist .media, #commentlist  ul, #commentlist  ol 
{ 
    margin:0 !important;

}






#comment-form .success 

{ 
    background: #27ae60; border-radius: 4px; color: #fff; display: block; padding: 15px; 

}


.comment-form .comment-menu 
{ 

}


.comment-form .comment-menu a 
{ 
    padding: 0 !important; 

}


.comment-form .comment-menu a span 
{ 
    padding: 2px 7px; min-width: 70px; 

}

.comment-form .comment-preview 
{ 
    height: auto !important; 

}

.comment-form .comment-preview .comment-content 
{ 
    border: none; 

}

.comment-form .comment-preview .comment-header small 
{ 
    display: none; 

}





#postPaging
{
    display:block;
    border:3px solid green;
}