﻿<div id="wrap">
    <div data-ng-include src="'views/shared/_nav.html'"></div>
    <div data-ng-include src="'views/shared/_navposts.html'"></div>
    <div class="container admin-views-main admin-views-content-tags" data-ng-controller="FilesController">

        <form id="form" action="" style="margin:0;">
            <div id="modal-form" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="focusInput=false"><i class="fa fa-times"></i></button>
                            <h4 class="modal-title">{{lbl.addFolder}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal clearfix">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="txtFolder">{{lbl.title}}</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="txtFolder" name="txtFolder" data-ng-model="dirName" focus-me="focusInput" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="createFolder()" class="btn btn-primary pull-right btn-tabkey"><i class="fa fa-save"></i>{{lbl.save}}</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="focusInput=false"><i class="fa fa-ban"></i>{{lbl.cancel}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="page-header clearfix">
            <h2 class="page-title pull-left">
                {{lbl.fileManager}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
            </h2>
        </div>

        <div class="toolbar-grid clearfix">
            <div class="pull-left">
                <button data-ng-click="processChecked('delete')" ng-disabled="hasChecked() === false" class="btn btn-danger btn-sm"><i class="fa fa-times"></i>{{lbl.doDelete}}</button>
                <button data-ng-click="addFolder()" class="btn btn-success btn-sm btn-tabkey" type="submit"><i class="fa fa-folder"></i> {{lbl.addFolder}}</button>
                <div class="btn-group">
                    <a class="btn btn-success btn-sm" id="uploadBtn" title="{{lbl.uploadFile}}"><i class="fa fa-upload"></i> {{lbl.uploadFile}}</a>
                    <input type="file" style="position: relative; left: 0" data-role="magic-overlay" class="cursor-pointer" data-target="#uploadBtn" onchange="angular.element(this).scope().uploadFile(this.files)" />
                </div>
            </div>
            <div class="pull-right filterbar clearfix">
                <input type="text" data-ng-model="query" data-ng-change="search()" class="input-sm form-control search-grid pull-right" placeholder="{{lbl.search}}" />
            </div>
        </div>

        <div data-ng-include src="'views/shared/_filestable.html'"></div>
    </div>
</div>
<script>
    $('[data-role=magic-overlay]').each(function () {
        var overlay = $(this), target = $(overlay.data('target'));
        overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()-30).height(target.outerHeight());
    });
</script>
<div id="footer" data-ng-include src="'views/shared/_footer.html'"></div>