﻿


<header id="top">
    <h1><a href="./" accesskey="h">AldrigVila</a></h1>
    <nav id="skip">
        <ul>
            <li><a href="#nav" accesskey="n">Hoppa till navigeringen [n]</a></li>
            <li><a href="#content" accesskey="c">Hoppa till innehåll [c]</a></li>
            <li><a href="#footer" accesskey="f">Hoppa till sidfoten [f]</a></li>
        </ul>
    </nav>
    <nav id="nav">
        <ul id="primary">
            <li><a href="./">Hem</a></li>
            <li><a accesskey="1" href="./">Kategorier</a> <em>(1)</em></li>
            <li class="active"><a accesskey="2" href="./">Arkiv</a> <em>(2)</em></li>
            <li><a accesskey="3" href="./">Tävlingar</a> <em>(3)</em></li>
            <li><a accesskey="4" href="./">Bli Medlem</a> <em>(4)</em></li>
        </ul>
        <ul id="secondary">

            <li>
                <form action="./" method="post">
                    <fieldset>
                        <p>
                            <label for="sa">Sök i bloggen..</label>
                            <input type="text" id="sa" name="sa" required>
                            <button type="submit">Sök</button>
                        </p>
                    </fieldset>
                </form>
            </li>
            <li class="a new"><a accesskey="5" href="./">Anmälningar</a> <em>(5)</em></li>
            <li class="a"><a accesskey="5" href="./">Anmälningar</a> <em>(5)</em></li>
            <li class="b"><a accesskey="6" href="./">Nya inlägg</a> <em>(6)</em></li>
            <li>
                <img src="http://placehold.it/29" alt="Placeholder" width="29" height="29"> <a accesskey="7" href="./">Chris Brown</a> <em>(7)</em>
                <ul>
                    <li><a href="./">Min profil</a></li>
                    <li><a href="./">Meddelanden <span>(1)</span></a></li>
                    <li><a href="./">Inställningar</a></li>
                    <li><a href="./">Logga ut</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>


