﻿@using BlogEngine.Core;
@using System.Web.Mvc.Html;

@{
    string loginText = Security.IsAuthenticated ? Resources.labels.logoff : Resources.labels.login;
    string loginUrl = Security.IsAuthenticated ? Utils.RelativeWebRoot + "Account/login.aspx?logoff" : Utils.RelativeWebRoot + "Account/login.aspx";

}

@*Settings:

    @Href(Utils.RelativeWebRoot)
    @Href(Utils.RelativeWebRoot + "Custom/Themes/" + BlogSettings.Instance.Theme + "/style.css")
    @bodyCss
    @BlogSettings.Instance.Description
    @(Resources.labels.home)
    @(Resources.labels.archive)
    @(Resources.labels.contact)

    <a href="@(Utils.FeedUrl)">@Resources.labels.subscribe</a></li>

    @Html.Raw(Html.RenderWidgetZone("be_WIDGET_ZONE"))
    @RenderBody()
    @BlogSettings.Instance.SearchDefaultText


*@


<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, target-densitydpi=device-dpi">
    <meta name="google-translate-customization" content="43e0efdb1dd46d48-ddf1933fd53b70fb-geeee9555c5108bf6-16"/>
    <script type="text/javascript" src="~/Custom/Themes/Main/js/head.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Custom/Themes/Main/css/screen.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/Custom/Themes/Main/css/Site.css" media="screen">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic" media="screen">
    <link rel="stylesheet" type="text/css" href="~/Custom/Themes/Main/css/print.css" media="print">
   
    <link rel="icon" href="~/Custom/Themes/Main/images/favicon.ico" type="image/x-icon">
</head>

<body>

<div id="root">

@*Start of Header*@


    <header id="top">
        <h1><a href="./" accesskey="h">AldrigVila</a></h1>
        <nav id="skip">
            <ul>
                <li><a href="#nav" accesskey="n">Hoppa till navigeringen [n]</a></li>
                <li><a href="#content" accesskey="c">Hoppa till innehåll [c]</a></li>
                <li><a href="#footer" accesskey="f">Hoppa till sidfoten [f]</a></li>
            </ul>
        </nav>
        <nav id="nav">
            <ul id="primary">
                <li><a href="./">Hem</a></li>
                <li><a accesskey="1" href="./">Kategorier</a> <em>(1)</em></li>
                <li class="active"><a accesskey="2" href="./">Arkiv</a> <em>(2)</em></li>
                <li><a accesskey="3" href="./">Tävlingar</a> <em>(3)</em></li>
                <li><a accesskey="4" href="./">Bli Medlem</a> <em>(4)</em></li>
            </ul>
            
            
            
            
            
@*Start of Search on Top*@
            
    <ul id="secondary">

        @*http://www.rtur.net/blog/post/2010/09/08/How-to-convert-theme-to-BlogEngineNET-part-2*@

        <li>
            <input type="text" value=""
                   onblur="$(this).animate({ width: '50' }, 3);
                   BlogEngine.searchClear('')"
                   onfocus="$(this).animate({ width: '10' }, 3);
                   BlogEngine.searchClear('')"
                   onkeypress="if (event.keyCode == 13)
                   return BlogEngine.search('')" id="sa" name="sa" required />

            <button type="submit" value="Sök" id="sa" name="sa" onkeypress="BlogEngine.search('');" onclick="BlogEngine.search('');" />
        </li>
 

                <li class="a new"><a accesskey="5" href="./">Anmälningar</a> <em>(5)</em></li>
                <li class="a"><a accesskey="5" href="./">Anmälningar</a> <em>(5)</em></li>
                <li class="b"><a accesskey="6" href="./">Nya inlägg</a> <em>(6)</em></li>
                <li>
               <img src="http://placehold.it/29" alt="Placeholder" width="29" height="29"> 
               <a accesskey="7" href="./">Chris Brown</a> <em>(7)</em>
                    <ul>
                        <li><a href="./">Min profil</a></li>
                        <li><a href="./">Meddelanden <span>(1)</span></a></li>
                        <li><a href="./">Inställningar</a></li>
                        <li><a href="./">Logga ut</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

@*End of Main Top Header*@



<article id="featured">
    <header>
        <figure><img src="~/Custom/Themes/Main/temp/placeholder-a.png" alt="Placeholder" width="120" height="141"></figure>
       
        <h2> UserName</h2>
               
            <ul>
            <li><span>219</span> points</li>
            <li><span>79</span> level</li>
        </ul>
    </header>


            <ul class="gallery-a">
                <li><img src="http://placehold.it/59x33" alt="Placeholder" width="59" height="33"></li>
                <li><img src="http://placehold.it/45x33" alt="Placeholder" width="45" height="33"></li>
                <li><img src="http://placehold.it/89x33" alt="Placeholder" width="89" height="33"></li>
            </ul>
            <ul class="social-a">
                <li class="pp"><a rel="external" href="./">Paper Plane?</a></li>
                <li class="tw"><a rel="external" href="./">Twitter</a></li>
                <li class="fb"><a rel="external" href="./">Facebook</a></li>
                <li class="yt"><a rel="external" href="./">YouTube</a></li>
                <li class="in"><a rel="external" href="./">Instagram</a></li>
            </ul>
            <ul class="sort-a">
                <li>
                    <span>Mars 2014</span>
                    <ul>
                        <li><a href="./">Feb 2014</a></li>
                        <li><a href="./">Jan 2014</a></li>
                        <li><a href="./">Dec 2013</a></li>
                        <li><a href="./">Nov 2013</a></li>
                        <li><a href="./">Okt 2013</a></li>
                        <li><a href="./">Sept 2013</a></li>
                        <li><a href="./">Aug 2013</a></li>
                        <li><a href="./">Juli 2013</a></li>
                        <li><a href="./">Juni 2013</a></li>
                        <li><a href="./">Maj 2013</a></li>
                        <li><a href="./">April 2013</a></li>
                    </ul>
                </li>
            </ul>
        </article>
    <section id="content" class="cols-a">
     
            @*Posts body are injected here*@
               
            @RenderBody()


         @*Widget Zone is here*@
            <div id="aside" class="">
                @Html.Raw(Html.RenderWidgetZone("be_WIDGET_ZONE"))
            </div>

    </section>



@*Start of Footer*@

    <footer id="footer" class="vcard" itemscope itemtype="http://schema.org/Organization">
        <nav>
            <div>
                <h3>Information <span class="fn org" itemprop="name">AldrigVila</span></h3>
                <ul>
                    <li><a href="./">Om oss</a></li>
                    <li><a href="./">Användarvillkor</a></li>
                    <li><a href="./">Kontakt</a></li>
                </ul>
            </div>
            <div>
                <h3>Partners</h3>
                <ul>
                    <li><a rel="external" href="./">AldrigVila</a></li>
                    <li><a rel="external" href="./">TheRestlessCast</a></li>
                    <li><a rel="external" href="./">Shop</a></li>
                </ul>
            </div>
            <div>
                <h3>Nätverk</h3>
                <ul>
                    <li><a rel="external" href="./">Instagram</a></li>
                    <li><a rel="external" href="./">Youtube</a></li>
                    <li><a rel="external" href="./">Facebook</a></li>
                </ul>
            </div>
        </nav>


        <p><span>Copyright &copy; <span class="date">@DateTime.Now.Year</span> AldrigVila</span> 
        <span>Alla rättigheter reserverade</span> 
        <span class="adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span class="street-address" itemprop="streetAddress">Bresjögatan 19</span>, 
        <span class="postal-code" itemprop="postalCode">256 94</span>, 
        <span class="locality" itemprop="addressLocality">Stockholm</span>
        </span>
        </p>

    </footer>

@*End of Footer*@


</div>


    <script type="text/javascript">
       head.load('http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js', '@Href(Utils.RelativeWebRoot + "Custom/Themes/" + BlogSettings.Instance.Theme + "/js/scripts.js")',
            '@Href(Utils.RelativeWebRoot + "Custom/Themes/" + BlogSettings.Instance.Theme + "/js/mobile.js")')

    </script>

</body>
</html>

