﻿p { }
/* DO NOT START CSS WITH A COMMENT! */

/*[ Star rater ]*/
.rating { margin-bottom: 10px; }
.rating p { display: inline; position: relative; top: 14px; left: 55px; }
.star-rating { position: relative; width: 125px; height: 25px; overflow: hidden; list-style: none; margin: 0; padding: 0; background-position: left top; }
.star-rating li { display: inline; }
.star-rating a, .star-rating .current-rating { position: absolute; top: 0; left: 0; text-indent: -1000em; height: 25px; line-height: 25px; outline: none; overflow: hidden; border: none; }
.star-rating a:hover, .star-rating a:active, .star-rating a:focus { background-position: left bottom; }
.star-rating a.one-star		{ width: 20%; z-index: 6; }
.star-rating a.two-stars	{ width: 40%; z-index: 5; }
.star-rating a.three-stars	{ width: 60%; z-index: 4; }
.star-rating a.four-stars	{ width: 80%; z-index: 3; }
.star-rating a.five-stars	{ width: 100%;z-index: 2; }
.star-rating .current-rating{ z-index: 1; background-position: left center; }
/* smaller star */
.small-star { width: 50px; height: 10px; }
.small-star, .small-star a:hover, .small-star a:active, .small-star a:focus, .small-star .current-rating { background-image: url(../../pics/star_small.gif); line-height: 10px; height: 10px; }


/*/*[ Post Pager ]*/
#PostPager		{ display: block; text-align: center; }
#PostPager li	{ display:inline; border: 1px solid #ccc; margin: 1px; padding: 2px; }
#PostPager li a	{ padding: 2px; text-decoration:none; font-weight: bold; }
#PostPager .PagerLinkCurrent	{ background-color: #5C80B1; color: #fff; padding: 2px 5px; border: 1px solid #ccc; }
#PostPager .PagerLinkCurrent li { padding: 2px }
#PostPager .PagerLinkDisabled	{ color: #ccc; padding: 2px; }
#PostPager .PagerEllipses		{ border:0; padding: 2px; }
#commentPreview	{ display:none; clear:both; min-height: 150px; }
.LoginRequired	{ margin: 10px 0 10px 0; }

/*[ Widget action buttons ]*/
.widgetImg		{ width: 16px; height: 16px; display:inline-block; }
.imgDelete		{ background-image:url('../../pics/actions/action-delete-small-lt.png'); }
.imgDelete:hover{ background-image:url('../../pics/actions/action-delete-small.png'); }
.imgMove		{ background-image:url('../../pics/actions/action-tools-small-lt.png'); }
.imgMove:hover	{ background-image:url('../../pics/actions/action-tools-small.png'); }
.imgEdit		{ background-image:url('../../pics/actions/action-edit-small-lt.png'); }
.imgEdit:hover	{ background-image:url('../../pics/actions/action-edit-small.png'); }
.widget a:hover	{ text-decoration: none; }
#comment-form p	{ margin: 1px; display: inline-table; width: 100%; }*/