﻿<div id="wrap">
    <div data-ng-include src="'views/shared/_nav.html'"></div>
    <div data-ng-include src="'views/shared/_navsettings.html'"></div>
    <div class="container admin-views-main admin-views-settings-controls" data-ng-controller="SettingsController">
        <form id="form" action="">
            <div class="page-header clearfix">
                <h2 class="page-title pull-left">
                    {{lbl.controls}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
                </h2>
                <button data-ng-click="save()" class="btn btn-success btn-header pull-right" type="button"><i class="fa fa-save"></i>{{lbl.save}}</button>
            </div>
            <div class="toolbar-grid clearfix">
                <div class="pull-left">&nbsp;</div>
                <div data-ng-include src="'views/shared/_controls.html'"></div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="well clearfix">
                        <h4>{{lbl.contactForm}}</h4>
                        <hr />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4" for="txtContactFormMessage">{{lbl.formMessage}}</label>
                                <div class="col-md-12">
                                    <textarea class="summernote" id="txtContactFormMessage"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4" for="txtContactThankMessage">{{lbl.thankYouMessage}}</label>
                                <div class="col-md-12">
                                    <textarea class="summernote" id="txtContactThankMessage"></textarea>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $('.summernote').summernote({
                                            toolbar: [
                                              ['style', ['bold', 'italic', 'underline', 'clear']],
                                              ['fontsize', ['fontsize']],
                                              ['color', ['color']],
                                              ['para', ['ul', 'ol', 'paragraph']],
                                              ['view', ['fullscreen', 'codeview']]
                                            ]
                                        });
                                    });
                                </script>
                            </div>
                            <div class="col-md-offset-4 col-md-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ckEnableContactAttachments" data-ng-model="settings.EnableContactAttachments" />
                                        {{lbl.enableAttachments}}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ckEnableRecaptchaOnContactForm" data-ng-model="settings.EnableRecaptchaOnContactForm" />
                                        {{lbl.enableRecaptcha}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well clearfix">
                        <h4>{{lbl.recentPosts}}</h4>
                        <hr />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4" for="txtNumberOfRecentPosts">{{lbl.numberOfPosts}}</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="txtNumberOfRecentPosts" name="txtNumberOfRecentPosts" data-ng-model="settings.NumberOfRecentPosts" placeholder="10" title="Number of recent posts" />
                                </div>
                            </div>
                            <div class="col-md-offset-4 col-md-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ckDisplayCommentsOnRecentPosts" data-ng-model="settings.DisplayCommentsOnRecentPosts" />
                                        {{lbl.displayCommentsOnRecentPosts}}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ckDisplayRatingsOnRecentPosts" data-ng-model="settings.DisplayRatingsOnRecentPosts" />
                                        {{lbl.displayRatingsOnRecentPosts}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well clearfix">
                        <h4>{{lbl.recentComments}}</h4>
                        <hr />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4" for="txtNumberOfRecentComments">{{lbl.numberOfComments}}</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="txtNumberOfRecentComments" name="txtNumberOfRecentComments" data-ng-model="settings.NumberOfRecentComments" placeholder="10" title="Number of recent comments" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="footer" data-ng-include src="'views/shared/_footer.html'"></div>