@charset "utf-8";
/* -------------------------------------------

	Name: 		AldrigVila
	Date:		2014/05/02
	Author:		http://psdtillhtml.se
			   		   
---------------------------------------------  */
* { margin: 0; padding: 0; }

html { overflow-y: scroll; min-height: 100%; margin: 0 0 1px; font-size: 100.01%; -webkit-tap-highlight-color: rgba(0,0,0,0); }
body { min-height: 100%; padding-top: 28px; background: url(../images/background.jpg) center 0 no-repeat #181e26; font-size: 62.5%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body, textarea, input, select, option, button { color: #cfdee8; font-family: 'Open Sans', Arial, Helvetica, sans-serif; line-height: 1.8; }
li, dt, dd, p, figure, th, td, caption, legend, pre { font-size: 1.4em; } li *, dt *, dd *, p *, figure *, th *, td *, legend * { font-size: 1em; }
ul, ol, dl, p, figure, table, pre, h1, h2, h3, h4, h5, h6, legend { margin-bottom: 25px; }

article, aside, details, div, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }


/*! Layout --------- */
#root { }
	#top { position: relative; z-index: 3; width: 100%; height: 70px; margin: 0 0 50px; background: url(../images/top.png) center 100% no-repeat; }
	#top:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
		#top h1 { position: absolute; left: 50%; top: 12px; width: 29px; height: 42px; margin: 0 0 0 -511px; }
			#top h1 a { display: block; overflow: hidden; width: 100%; height: 100%; background: url(../images/sprite-a.png) no-repeat; text-indent: -3000em; }
		#skip { position: fixed; top: 0; left: -10000px; }
			#skip a:focus, #skip a:active { display: block; position: absolute; left: 10000px; top: 0; z-index: 10001; width: 200px; margin: 15px 0 0 15px; padding: 4px 8px; background: #333; color: #fff; font-weight: 500; font-size: 1.1em; text-align: center; text-decoration: none; }
		#nav { width: 1022px; margin: 0 auto; }
			#nav > ul { list-style: none; margin: 0; padding: 0 0 0 72px; }
				#nav > ul > li { position: relative; float: left; height: 70px; padding: 0 0 0 40px; font-size: 1.1em; font-weight: 700; text-transform: uppercase; }
				#nav > ul > li:first-child { padding-left: 0; }
				#nav > ul > li > a { display: block; position: relative; float: left; height: 70px; padding: 0 1px; background: url(../images/sprite-a.png) -3000em -3000em no-repeat; color: #fff; line-height: 68px; text-decoration: none; white-space: nowrap; }
					#nav > ul > li > a:hover, #nav > ul > li > a:focus, #nav > ul > li > a:active, #nav > ul > li.active > a { text-shadow: 0 0 34px rgba(53,172,227,.9), 0 0 3px rgba(53,172,227,.9/*75*/); }
				#nav > ul > li > a > .fit-a { display: block; position: absolute; left: 0; bottom: 1px; width: 100%; height: 1px; box-shadow: 0 0 9px rgba(94,180,237,.95); background: #1ea5fe; opacity: 0; filter: alpha(opacity = 0); }
					#nav > ul > li > a:hover > .fit-a, #nav > ul > li > a:focus > .fit-a, #nav > ul > li > a:active > .fit-a, #nav > ul > li.active > a > .fit-a { opacity: 1; filter: alpha(opacity = 100); }
				#nav > ul > li > ul { position: absolute; right: 3000em; top: 68px; list-style: none; margin: 0; padding: 9px 0 10px; width: 149px; border-radius: 0 0 2px 2px; border: 1px solid rgba(255,255,255,.1); background: rgba(255,255,255,.02); }
				#nav > ul > li.active > ul { right: 0; }
				.lt-ie9 #nav > ul > li > ul { border: 1px solid #374251; background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFFFF,endColorstr=#19FFFFFF); zoom: 1; }
					#nav > ul > li > ul > li { font-size: .909em; }
					#nav > ul > li > ul > li a { display: block; position: relative; padding: 5px 21px 7px; color: #dbdbdb; text-decoration: none; }
					#nav > ul > li > ul > li a span { position: absolute; right: 21px; top: 5px; }
						#nav > ul > li > ul > li a:hover, #nav > ul > li > ul > li a:focus, #nav > ul > li > ul > li a:active, #nav > ul > li > ul > li a > span { color: #289be5; }
			#nav > #secondary { float: right; }
				#nav > #secondary > li { padding: 18px 0 0 8px; font-weight: 400; }
				#nav > #secondary > li > img { display: block; position: relative; left: 2px; top: 1px; float: left; margin: 0 13px 0 0; border-radius: 30px; }
				#nav > #secondary > li > a { overflow: hidden; float: left; height: 29px; padding: 0 24px 0 9px; border-radius: 20px; border: 1px solid rgba(0,0,0,0); line-height: 29px; }
					#nav > #secondary > li > a > .fit-a { left: 100%; bottom: 11px; width: 6px; height: 5px; margin: 0 0 0 -16px; box-shadow: none; background: url(../images/sprite-a.png) -33px 0 no-repeat; opacity: 1; filter: alpha(opacity = 100); }
					#nav > #secondary > li > a:hover, #nav > #secondary > li > a:focus, #nav > #secondary > li > a:active { border: 1px solid #289be5; text-shadow: none; }
				#nav > #secondary > li.a, #nav > #secondary > li.b { }
					#nav > #secondary > li.a > a, #nav > #secondary > li.b > a { width: 25px; padding: 0; border: 0; border-radius: 0; text-indent: -3000em; }
						#nav > #secondary > li.a > a { background-position: 5px -179px; }
						#nav > #secondary > li.b > a { background-position: -18px -179px; }
							#nav > #secondary > li.a > a > .fit-a, #nav > #secondary > li.b > a > .fit-a { left: -3000em; }
						#nav > #secondary > li.a.new > a { background-position: -42px -179px; }
			#nav form { float: left; padding: 0 4px 0 0; }
				#nav form p { float: left; clear: none; width: auto; }
				#nav form label { position: absolute; left: -3000em; top: -3000em; }
				#nav form input { z-index: 2; width: 9px; height: 29px; padding: 0 10px; border-radius: 20px; border: 1px solid #289be5; background: none; color: rgba(0,0,0,0); line-height: 29px; cursor: pointer; }
				.lt-ie9 #nav form input { background: url(../images/sprite-a.png) -3000em -3000em no-repeat; }
				#nav form button { z-index: 1; position: absolute; right: 1px; top: 1px; width: 29px; height: 29px; box-shadow: none; background: url(../images/sprite-a.png) -80px -21px no-repeat; text-indent: -3000em; }
			#nav form.active { }
				#nav form.active input { z-index: 1; width: 150px; color: #fff; font-size: 1em; cursor: text; }
				#nav form.active button { z-index: 2; }
			#nav em { position: absolute; left: -3000em; top: -3000em; }
	#featured { position: relative; z-index: 2; clear: both; width: 1022px; margin: -10px auto 0; padding: 0 0 1px; }
	#featured:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
		#featured header { position: relative; padding: 0 0 59px; }
			#featured h2 { font-family: 'League_Gothic'; font-size: 7em; font-weight: 400; text-align: center; text-transform: uppercase; letter-spacing: 3px; }
			#featured figure { position: relative; z-index: 1; min-height: 148px; margin: 0 0 21px; text-align: center; }
				#featured figure img { display: block; position: relative; z-index: 1; margin: 0 auto; }
				.js #featured figure img { position: absolute; left: -3000em; top: 0; }
				#featured figure canvas { z-index: 2; }
				#featured figure:after { content: ""; display: block; position: absolute; left: 50%; top: 50%; width: 150px; height: 151px; margin: -75px 0 0 -75px; background: url(../images/sprite-a.png) 0 -261px no-repeat; }
			#featured header ul { position: absolute; left: 50%; top: 34px; z-index: 2; list-style: none; width: 320px; margin: 0 0 0 -160px; padding: 0; line-height: 1; }	
				#featured header ul li { position: relative; float: right; width: 76px; height: 76px; border: 1px solid #fff; border-radius: 50px; color: #fff; font-size: 1em; font-weight: 600; text-transform: uppercase; text-align: center; }
					#featured header ul li:first-child, #featured header ul li.pie_first-child { float: left; }
				#featured header ul li span { display: block; margin: 0 0 -2px; padding: 18px 0 0; font-family: 'League_Gothic'; color: #f4d055; font-weight: 400; font-size: 3em; }
					#featured header ul li:first-child span, #featured header ul li.pie_first-child span { color: #277bb2; }
		#featured .gallery-a { position: relative; z-index: 3; float: left; margin: 0; }
		#featured .social-a { position: relative; top: 3px; z-index: 3; float: right; margin: 0; }
		#featured .sort-a { position: absolute; left: 0; bottom: 19px; z-index: 2; width: 100%; margin: 0; text-align: center; }
	#content { position: relative; z-index: 1; width: 956px; margin: 0 auto; padding: 29px 32px 10px; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ border-radius: 2px; border: 1px solid rgba(255,255,255,.10); background: rgba(255,255,255,.02); }
	#content:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
		#content.a { width: 205px; }		
	#footer { width: 1022px; margin: 0 auto; padding: 69px 0 0; }
		#footer nav { overflow: hidden; width: 100%; padding: 0 0 30px; }
			#footer nav > div { float: left; width: 150px; }
			#footer nav h2, #footer nav h3 { margin: 0 0 12px; color: #63727d; font-size: 1.1em; font-weight: 600; text-transform: uppercase; }
			#footer nav ul { list-style: none; padding: 0; }
				#footer nav ul li { margin: 0 0 8px; font-size: 1.1em; }
				#footer nav ul li a { color: #fff; font-weight: 600; } 
		#footer .fn { position: absolute; left: -3000em; top: -3000em; }
		#footer > p { overflow: hidden; width: 100%; padding: 27px 0 0; border-top: 1px solid #191b1d; color: #63727d; font-size: 1.1em; }
			#footer > p > span { display: block; position: relative; padding: 0 17px 0 20px; float: left; }
				#footer > p > span:before { content: "/"; display: block; position: absolute; left: 0; top: 0; }
			#footer > p > span:first-child { padding-left: 0; }	
				#footer > p > span:first-child:before { left: -3000em; }
			

/*! Columns --------- */
.cols-a { width: 100%; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ border: 1px solid rgba(255,255,255,.10); background: rgba(255,255,255,.02); }
.cols-a:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
#content.cols-a { width: 1020px; padding: 0; }
	.cols-a > *:first-child { float: left; width: 652px; padding: 38px 32px 10px; border-right: 1px solid rgba(255,255,255,.10); }
	.cols-a > aside { float: right; width: 238px; padding: 37px 32px 0 0; }
.lt-ie9 .cols-a { border: 1px solid #2b313b; background: #1d222a; }
	.lt-ie9 .cols-a > *:first-child { border-right: 1px solid #2b313b; }

.cols-b { width: 100%; }
.cols-b:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
#content.cols-b { width: 1022px; padding: 0; box-shadow: none; border: 0; background: none; }
	.cols-b > *:first-child, .cols-b > header:first-child + * { float: right; width: 772px; }
	.cols-b > aside, .cols-b > header:first-child { float: left; width: 225px; }
	
.cols-c { width: 100%; }
.cols-c:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
#content.cols-c { width: 1022px; padding: 0; box-shadow: none; border: 0; background: none; }
	.cols-c > *:first-child { float: left; width: 776px; }
		.cols-b > *:first-child > *:last-child, .cols-c > *:first-child > *:last-child { margin-bottom: 0; }
		.cols-c > *:first-child > .last-child, .cols-b > *:first-child > .last-child { margin-bottom: 0; }
	.cols-c > aside { float: right; width: 231px; }
	
.double-a { width: 100%; }
.double-a:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
	.double-a > * { float: right; width: 50.7%; }
	.double-a > *:first-child { float: left; width: 47.5%; }
	
	
/*! Modules --------- */
.comments-a { position: relative; margin: 104px 0 24px; padding: 0 32px 0; border-top: 1px solid #2b313b; border-bottom: 1px solid #2b313b; background: #181b20; }
.cols-a > *:first-child > .comments-a { width: 100%; margin-left: -32px; }
	.comments-a > h2, .comments-a > h3 { position: absolute; left: 32px; top: -30px; float: left; margin: 0; padding: 0 14px 0 0; font-size: 1.4em; }
		.comments-a > h2 span, .comments-a > h3 span { position: absolute; left: 100%; top: -2px; height: 17px; padding: 0 5px; border-radius: 10px; border: 1px solid #2b9ee6; font-size: .642em; font-weight: 400; line-height: 17px; }
	.comments-a > ul { list-style: none; margin: 0 0 33px; padding: 0; }
		.comments-a > ul > li { position: relative; padding: 40px 0 19px 112px; border-bottom: 1px dashed #3f4146; }
		.comments-a > ul header { display: block; margin: 0 0 8px; }
			.comments-a > ul header h3, .comments-a > ul header h4 { margin: 0 0 3px; color: #289be5; font-weight: 700; font-size: 1em; }
			.comments-a > ul header p { margin: 0; color: #63727d; font-weight: 600; font-size: .714em; }
		.comments-a > ul figure { overflow: hidden; position: absolute; left: 0; top: 21px; }
			.comments-a > ul figure:after { content: ""; display: block; position: absolute; left: 50%; top: 50%; width: 90px; height: 90px; margin: -45px 0 0 -45px; background: url(../images/sprite-a.png) 0 -52px no-repeat; }
		.comments-a > ul footer { margin: -11px 0 0; }
			.comments-a > ul footer ul { overflow: hidden; list-style: none; width: 100%; margin: 0; padding: 0; }
				.comments-a > ul footer ul li { float: left; padding: 0 4px 4px 0; font-size: .642em; text-transform: uppercase; }
				.comments-a > ul footer ul li > * { display: block; position: relative; float: left; height: 17px; padding: 0 8px; border-radius: 10px; border: 1px solid #2b9ee6; color: #fff; line-height: 17px; text-decoration: none; }
					.comments-a > ul footer ul li > a:hover, .comments-a > ul footer ul li > a:focus, .comments-a > ul footer ul li > a:active { background: #2b9ee6;1 }
	.comments-a form { padding: 0 0 92px; }
		.comments-a form p { margin: 0 0 11px; }
		.comments-a form p > span { display: block; position: relative; float: left; margin: 0 10px 0 0; }
		.js .comments-a form label { position: absolute; padding: 0 18px; color: #fff; font-size: 12px; line-height: 44px; cursor: text; }
		.comments-a form input { width: 179px; }
		.comments-a textarea { width: 624px; height: 169px; min-height: 169px; }
		
.gallery-a { overflow: hidden; list-style: none; margin: 0; padding: 0; }
	.gallery-a li { float: left; padding: 0 0 19px 19px; }
	.gallery-a li:first-child { padding-left: 0; }

.gallery-b { overflow: hidden; list-style: none; width: 105%; margin: 0 0 18px; padding: 0; color: #fff; font-weight: 700; line-height: 1.2; }
	.gallery-b li { position: relative; float: left; width: 137px; height: 67px; padding: 19px 20px 30px 88px; font-size: 1.201em; }
	.gallery-b li.a { height: 72px; padding-top: 14px; }
	.gallery-b li a { display: block; position: relative; float: left; color: #fff; text-decoration: none; }
		.gallery-b li span { display: block; padding: 3px 0 0; color: #289be5; font-size: .832em; line-height: 1.4; text-transform: uppercase; }
		.gallery-b li span span { padding: 0 0 4px; color: #f5da6d; font-size: 1em; }
	.gallery-b li img, .gallery-b li canvas { position: absolute; left: 0; top: 0; }

.gallery-c { overflow: hidden; list-style: none; width: 105%; margin: 0; padding: 0; }
	.gallery-c li { display: block; overflow: hidden; position: relative; float: left; width: 61px; height: 61px; padding: 0 14px 10px 0; }
	.gallery-c li a { display: block; overflow: hidden; position: relative; width: 61px; height: 61px; border-radius: 2px; }
	.gallery-c li img { position: relative; border-radius: 2px; }
	.js .gallery-c li img { position: absolute; left: 50%; top: 50%; }

.gallery-d { overflow: hidden; list-style: none; width: 1022px; margin: 0 auto; padding: 0 0 115px; font-family: 'League_Gothic'; }
	.gallery-d ul { overflow: hidden; position: relative; list-style: none; width: 100%; margin: 0; padding: 0; }
	.js .gallery-d ul { margin-bottom: -15px; }
	.js .gallery-d ul:nth-child(2n-1) { left: 50px; }
	.js .gallery-d ul.nth-a { left: 50px; }
	.gallery-d ul li { overflow: hidden; float: left; width: 87px; height: 100px; padding: 0 13px 13px 0; color: #ececec; font-size: 1.5em; text-transform: uppercase; text-align: center; }
	.js .gallery-d ul li { padding-bottom: 0; }
		.gallery-d ul li a { display: block; overflow: hidden; position: relative; float: left; color: #ececec; }
		.gallery-d ul li a > span { display: block; position: absolute; left: 0; right: 0; z-index: 2; bottom: 0; padding: 1px 0 23px; opacity: 0; }
			.gallery-d ul li a:hover span { opacity: 1; }
			.gallery-d ul li a > span > .inner { position: relative; top: 20px; z-index: 2; }
				.gallery-d ul li a > span > .inner { transform-origin: center 100%; -moz-transform-origin: center 100%; -webkit-transform-origin: center 100%; -o-transform-origin: center 100%; -ms-transform-origin: center 100%; }
				.gallery-d ul li a:hover > span > .inner { top: 0; transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); -o-transform: scale(1,1); -ms-transform: scale(1,1); }
			.gallery-d ul li a > span > .fit-a { display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 0; background: url(../images/masks/mask-da.png) 0 100% no-repeat; }
				.gallery-d ul li a:hover > span > .fit-a { height: 100%; }
				.gallery-d ul li a > span > .fit-a > .fit-b { content: ""; display: block; position: absolute; left: 0; top: 1px; width: 100%; height: 1px; background: #277bb2; opacity: 0; }
				.gallery-d ul li a:hover > span > .fit-a > .fit-b { opacity: 1; transition-delay: 0.2s; -moz-transition-delay: 0.2s; -webkit-transition-delay: 0.2s; -o-transition-delay: 0.2s; -ms-transition-delay: 0.2s; }
		.lt-ie9 .gallery-d ul li a > span { left: -3000em; }
			.lt-ie9 .gallery-d ul li a:hover > span { left: 0; }
	.gallery-d ul li.a, .gallery-d ul li.a a { color: #ececec }
		.gallery-d ul li.a a > span > .fit-a { background: url(../images/masks/mask-db.png) 0 100% no-repeat; }
		.gallery-d ul li.a a > span > .fit-a > .fit-b { background: #9f394c }
		
.module-a { position: relative; margin: 0 0 13px; padding: 15px 0 0; border-radius: 2px; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ border: 1px solid rgba(255,255,255,.10); background: rgba(255,255,255,.02); }
.module-a:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
	.module-a h2, .module-a h3, .module-a h4 { margin: 0 0 15px; padding: 0 15px; color: #63696f; font-size: 1em; font-weight: 700; text-transform: uppercase; }
	.module-a figure:last-child { margin-bottom: 0; }
	.module-a figure.last-child { margin-bottom: 0; }
	.module-a figure.offset { position: relative; top: 1px; margin-left: -1px; margin-right: -1px; margin-top: -1px; }
		.module-a figure.offset:last-child img { border-radius: 0 0 2px 2px; }	
		
.nav-a { margin: 0 0 13px; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ border: 1px solid rgba(255,255,255,.10); background: rgba(255,255,255,.02); }
	.nav-a ul { list-style: none; margin: 0; padding: 0; }
		.nav-a ul li { margin: 0; padding: 0; border-top: 1px solid rgba(255,255,255,.1); font-size: 1em; font-weight: 700; text-transform: uppercase; }
		.nav-a ul li:first-child, .lt-ie9 .nav-a ul li:first-child { border: 0; }
		.nav-a ul li a { display: block; position: relative; padding: 17px 27px 18px; color: #778a99; text-decoration: none; }	
		
.news-a { color: #cfdee8; line-height: 1.75; }
	.news-a article { position: relative; min-height: 70px; margin: 0 0 12px; padding: 11px 145px 0 12px; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ border-radius: 2px; border: 1px solid rgba(255,255,255,.10); background: rgba(255,255,255,.02); }
		.news-a article p { position: relative; z-index: 1; }
		.news-a article:hover { background: rgba(255,255,255,.05); }
	.news-a article figure { position: absolute; right: -1px; top: -1px; }
		.news-a figure > * { display: block; overflow: hidden; position: relative; border-radius: 0 2px 2px 0; }
	.news-a h2, .news-a h3 { position: relative; z-index: 1; margin: 0 0 8px; color: #63727d; font-size: 1em; font-weight: 400; }
		.news-a h2 a, .news-a h2 span, .news-a h3 a, .news-a h3 span { color: #289be5; font-weight: 700; font-size: 1.1em; }
		.news-a > h2, .news-a > h3 { font-weight: 700; }
	.news-a p { margin: 0; font-size: 1.1em; }
	.news-a .link { position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%; }
		.news-a .link a { display: block; overflow: hidden; width: 100%; height: 100%; text-indent: -3000em; }

.news-b { position: relative; margin: 0 0 13px; padding: 15px 0 0; border-radius: 2px; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ border: 1px solid rgba(255,255,255,.10); background: rgba(255,255,255,.02); }
	.news-b h2, .news-b h3 { margin: 0 0 1px; padding: 0 15px; color: #63696f; font-size: 1em; font-weight: 700; text-transform: uppercase; }
	.news-b > ul { list-style: none; margin: 0 0 5px; padding: 0; line-height: 1.35; }
		.news-b > ul li { position: relative; border-top: 1px solid rgba(255,255,255,.10); font-size: 1.1em; }
			.news-b > ul li:first-child, .lt-ie9 .news-b > ul li:first-child { border-top: 0; }
		.news-b > ul li img { position: absolute; left: 12px; top: 14px; border-radius: 2px; }
		.news-b > ul li > a { display: block; position: relative; min-height: 37px; padding: 13px 0 12px 59px; color: #bbc9d3; text-decoration: none; }
			.news-b > ul li > a:hover, .news-b > ul li > a:focus, .news-b > ul li > a:active { color: #fff; }
		.news-b > ul li span { display: block; padding: 1px 0 0; color: #63727d; font-size: .909em; }
	.news-b p { position: relative; top: 1px; margin: 0 -1px 0; font-weight: 700; font-size: 1.1em; text-transform: uppercase; text-align: center; text-shadow: 1px 1px 0 #207ab5; }
		.news-b p a { display: block; position: relative; padding: 8px 15px 10px; border-radius: 0 0 2px 2px; border-top: 1px solid #2070ab; border-bottom: 1px solid #2a80b8; background: #289be5; color: #fff; }
			.news-b p a:after { content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 1px; border-bottom: 1px solid #2697e2; background: #218dda; }

.news-c { width: 105%; color: #bcbcbc; line-height: 1.75; }
.news-c:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
	.news-c article { position: relative; float: left; width: 248px; margin: 0 13px 13px 0; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ border-radius: 2px; border: 1px solid rgba(255,255,255,.10); background: rgba(255,255,255,.02); }
		.news-c article > * { padding: 0 19px; }
	.news-c article > header { margin: -1px -1px 0; padding: 0; } 
		.news-c article > header > * { padding: 0 19px; }
		.news-c article > header > figure { overflow: hidden; position: relative; z-index: 1; max-height: 164px; margin: 0 0 23px; padding: 0; }
			.news-c article > header > figure img { display: block; position: relative; border-radius: 2px 2px 0 0; }
		.news-c article > header > p { z-index: 3; margin: 0 0 16px; color: #63727d; font-size: 1.1em; }
			.news-c article > header > p a, .news-c article > header > p span { coloR: #289be5; font-weight: 700; }
	.news-c h2, .news-c h3 { position: relative; z-index: 1; margin: 0 0 10px; color: #e3e2e2; font-weight: 600; font-size: 1.5em; }
	.news-c p { position: relative; z-index: 1; margin: 0 0 10px; font-size: 1.2em; }
	.news-c .link { position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%; padding: 0; }
		.news-c .link a { display: block; overflow: hidden; width: 100%; height: 100%; text-indent: -3000em; }
	.news-c footer { margin: 22px 0 0; padding: 11px 19px; border-top: 1px solid rgba(255,255,255,.10); }
		.news-c footer ul { overflow: hidden; position: relative; z-index: 3; list-style: none; width: 100%; margin: 0; padding: 0; }
		.news-c footer ul li { float: left; margin: 0; padding: 0 4px 0 0; font-size: .9em; text-transform: uppercase; }
			.news-c footer ul li > * { display: block; position: relative; float: left; height: 17px; padding: 0 8px; border-radius: 10px; border: 1px solid #2b9ee6; color: #fff; line-height: 17px; text-decoration: none; }
				.news-c footer ul li > a:hover, .news-c footer ul li > a:focus, .news-c footer ul li > a:active { background: #2b9ee6; }
	.news-c article.featured { float: none; width: 317px; min-height: 311px; margin-right: 0; padding: 14px 0 0 457px; }
		.news-c article.featured header { margin: 0; padding: 0 40px 0 0; }
		.news-c article.featured h2, .news-c article.featured h3 { margin: 0 0 5px; font-size: 2.4em; font-weight: 700; }
		.news-c article.featured figure { overflow: hidden; position: absolute; left: -1px; top: -1px; z-index: 5; width: 458px; height: 100%; max-height: none; padding: 1px 0; border-radius: 2px 0 0 2px; background-repeat: no-repeat; background-size: cover; } 
			.news-c article.featured figure img { position: absolute; left: -3000em; top: -3000em; border-radius: 0; }
		.news-c article.featured footer { position: relative; z-index: 3; margin-top: 28px; }
			.news-c article.featured footer:after { content: ""; display: block; position: absolute; right: 100%; top: -1px; width: 457px; height: 1px; background: #2b313b/*rgba(255,255,255,.10)*/; }

.pagination-a { overflow: hidden; width: 100%; margin: 0 0 15px; }
	.pagination-a > * { position: relative; left: 50%; float: left; list-style: none; margin: 0; padding: 0; }
	.pagination-a li { position: relative; left: -50%; float: left; padding: 0 0 0 2px; font-size: 1.2em; font-weight: 700; }
		.pagination-a li:first-child { padding-left: 0; }
	.pagination-a li a { display: block; overflow: hidden; float: left; width: 18px; height: 28px; padding: 0 4px; border-radius: 3px; border: 1px solid #343940; background: url(../images/sprite-a.png) -3000em -3000em no-repeat; color: #fff; line-height: 28px; text-align: center; text-decoration: none; }
	.boxshadow .pagination-a li a { box-shadow: 0 1px 0 rgba(0,0,0,.1); }
		#root .pagination-a li a:hover, #root .pagination-a li a:focus, #root .pagination-a li a:active, #root .pagination-a li.active a { background-color: #289be5; }
	.pagination-a li.prev a { background-position: 10px -154px; text-indent: -3000em; text-align: left; }
	.pagination-a li.next a { background-position: -20px -154px; text-indent: -3000em; text-align: left; }

.post-a { }
	.post-a > header { overflow: hidden; margin: 0 0 7px; } 
		.post-a > header p { color: #63727d; font-weight: 600; font-size: 1em; }

.slider-a { position: relative; margin: 0 0 13px; padding: 20px 15px 21px; border-radius: 2px; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ border: 1px solid rgba(255,255,255,.10); background: rgba(255,255,255,.02); }
	.slider-a .inner > * { margin: 0 14px 0 0; }
	.slider-a .gallery-c { width: 115%; }
.slider-a .bx-pager { overflow: hidden; width: 100%; padding: 10px 0 0; }
	.slider-a .bx-pager .bx-pager-item { float: left; width: 7px; height: 7px; margin: 0 9px 0 0; }
	.slider-a .bx-pager .bx-pager-item a { display: block; overflow: hidden; float: left; width: 100%; height: 100%; border-radius: 5px; background: rgba(255,255,255,.2); text-indent: -3000em; }
	.slider-a .bx-pager .bx-pager-item a.active { background: rgba(255,255,255,1); cursor: default; }
	.lt-ie9 .slider-a .bx-pager .bx-pager-item a { background: url(../images/sprite-a.png) -160px 0 no-repeat; }
	.lt-ie9 .slider-a .bx-pager .bx-pager-item a.active { background: url(../images/sprite-a.png) -169px 0 no-repeat; }
	
.social-a { overflow: hidden; list-style: none; padding: 0; }
	.social-a li { float: left; width: 35px; height: 31px; padding: 0 0 0 3px; }
	.social-a li:first-child { padding: 0; }
	.social-a li a { display: block; overflow: hidden; position: relative; float: left; width: 100%; height: 100%; border-radius: 2px; background: url(../images/sprite-a.png) -3000em -3000em no-repeat; text-indent: -3000em; }
		.social-a li.pp a { background-position: 10px -209px; }
		.social-a li.tw a { background-position: -26px -209px; }
		.social-a li.fb a { background-position: -65px -209px; }
		.social-a li.yt a { background-position: -102px -209px; }
		.social-a li.in a { background-position: -139px -209px; }
		.social-a li a:hover, .social-a li a:focus, .social-a li a:active { background-color: #277bb2; }
		.boxshadow .social-a li a:hover, .boxshadow .social-a li a:focus, .boxshadow .social-a li a:active { /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ }

.sort-a { list-style: none; padding: 0; text-transform: uppercase; }
	.sort-a > li { display: -moz-inline-stack; display: inline-block; position: relative; color: #fff; font-size: 1.2em; font-weight: 700; }
	.sort-a > li > span { display: -moz-inline-stack; display: inline-block; position: relative; height: 28px; padding: 0 26px 0 12px; border: 1px solid rgba(255,255,255,.1); background: rgba(255,255,255,.05); line-height: 28px; cursor: pointer; }
		.sort-a > li.active > span { border: 1px solid #277bb2; background: #277bb2; }
		.mobile .sort-a > li > span { cursor: pointer; }
	.lt-ie9 .sort-a > li > span { border: 1px solid #2b3c4c; background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0CFFFFFF,endColorstr=#0CFFFFFF); zoom: 1; }
	.ie7 .sort-a > li, .ie7 .sort-a > li > span { display: inline; zoom: 1; }
		.sort-a > li > span:after { content: ""; display: block; position: absolute; right: 10px; top: 12px; width: 6px; height: 5px; background: url(../images/sprite-a.png) -33px 0 no-repeat; }
		.sort-a > li.active > span:after { right: 3000em; }
	.sort-a > li > ul { position: absolute; left: -3000em; top: 30px; list-style: none; width: 100%; padding: 0; }
	.sort-a > li.active > ul { left: 0; }
		.sort-a > li > ul li { }
		.sort-a > li > ul li a { display: block; padding: 3px 12px; border: 1px solid #3d88ba; border-top: 2px solid #3d88ba; border-bottom: 0; background: #3282b6; color: #fff; text-align: left; }

.tabs-a { }
	.tabs-a > ul { overflow: hidden; position: absolute; left: -3000em; top: -3000em; z-index: 2; list-style: none; margin: 0; padding: 0; border-bottom: 2px solid #289be5; }
	.js .tabs-a > ul { position: relative; left: 0; top: 0; }
		.tabs-a > ul li { float: left; font-size: 1em; font-weight: 700; text-transform: uppercase; }
		#root .tabs-a > ul li a { display: block; float: left; height: 54px; padding: 0 24px; border: 1px solid rgba(255,255,255,.10); border-bottom: 0; border-left: 0; color: #778a99; line-height: 54px; text-decoration: none; }
		#root .tabs-a > ul li:first-child a { border-left: 1px solid rgba(255,255,255,.10); }
			#root .tabs-a > ul li a:hover, #root .tabs-a > ul li a:focus, #root .tabs-a > ul li a:active { box-shadow: inset 0 0 10px rgba(94,180,237,.1), inset 0 0 30px rgba(94,180,273,.04); color: #fff; }
			#root .tabs-a > ul li.active a { border-color: #289be5; background: #289be5; color: #fff; cursor: default; }
	#root .tabs-a > .sort { position: absolute; left: -3000em; top: -3000em; z-index: 2; margin: 0; padding: 0; box-shadow: none; border: 0; background: none; }
		.tabs-a > .sort .sort-a { margin-bottom: 10px; }
			.tabs-a > .sort .sort-a > li, .tabs-a > .sort .sort-a > li > span { display: block; }
	.tabs-a > div { position: relative; z-index: 1; margin: 0 0 20px; padding: 31px 32px 17px; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ border: 1px solid rgba(255,255,255,.10); border-top: 0; background: rgba(255,255,255,.02); }
	.cols-b > .tabs-a > div { margin: 0; }

/* non-RGBa definitions */
.lt-ie9 .tabs-a { }
	.lt-ie9 .tabs-a > div, .lt-ie9 .nav-a, .lt-ie9 .tabs-a > ul li a, .lt-ie9 .module-a, .lt-ie9 .news-b, .lt-ie9 .list-c, .lt-ie9 .slider-a, .lt-ie9 .news-a article, .lt-ie9 .news-c article { border: 1px solid #1e3244; }
		.lt-ie9 .tabs-a > ul li:first-child a { border-left: 1px solid #1e3244; }
		.lt-ie9 .news-b > ul li, .lt-ie9 .nav-a ul li, .lt-ie9 .news-c article footer { border-top: 1px solid #1e3244; }
	.lt-ie9 .tabs-a > div { border-top: 0; }
	.lt-ie9 .tabs-a > ul li a, .lt-ie9 .tabs-a > ul li:first-child a { border-bottom: 0; }
.lt-ie9 #content, .lt-ie9 .nav-a, .lt-ie9 .tabs-a > div, .lt-ie9 .module-a, .lt-ie9 .news-b, .lt-ie9 .list-c, .lt-ie9 .slider-a, .lt-ie9 .news-a article, .lt-ie9 .news-c article, .lt-ie9 .news-c article.featured footer:after { background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#05FFFFFF,endColorstr=#05FFFFFF); zoom: 1; }
.lt-ie9 .news-a article:hover { background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0CFFFFFF,endColorstr=#0CFFFFFF); zoom: 1; }
.lt-ie9 #content.cols-b, .lt-ie9 #content.cols-c { background: none; filter: none; }
.lt-ie9 .list-c li:after { background: #1e3244; }


/*! Headers --------- */
h1, h2, h3, h4, h5, h6, legend { margin: 0 0 13px; color: #fff; font-size: 1.4em; font-weight: 700; line-height: 1.1; }
h1, h2, legend { font-size: 2.0em; }

.cols-a > aside h2, .cols-a > aside h3, .cols-a > aside h4, .cols-a > aside h5, .cols-a > aside h6 { margin: 0 0 18px; color: #4e5b65; font-size: 1.1em; text-transform: uppercase; }
.cols-c > * > h2, .cols-c > * > h3, .cols-c > * > h4, .cols-c > * > h5, .cols-c > * > h6, .double-a > * > h2, .double-a > * > h3, .double-a > * > h4, .double-a > * > h5, .double-a > * > h6 { margin: 0 0 9px; padding: 0 7px; color: #b8bfc8; font-size: 1em; text-transform: uppercase; }


/*! Typography --------- */
b, strong, .strong { font-weight: 700; }
blockquote { margin: 1em 40px; }
dfn, em, i, .em { font-style: italic; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }

#root .scheme-a { color: #4cd074; }
#root .scheme-b { color: #d04c52; }
#root .scheme-c { color: #b7b7b7; }
#root .scheme-d { color: #c2953d; }


/*! Links --------- */
a { color: #289be5; text-decoration: none; cursor: pointer; } /*---*/ a span { cursor: pointer; }
	a:hover, a:focus, a:active { text-decoration: underline; }

.list-a li a:hover, .list-a li a:focus, .list-a li a:active, .nav-a li a:hover, .nav-a li a:focus, .nav-a li a:active, .nav-a li.active a, .tabs-a > ul li a { box-shadow: inset 0 0 30px rgba(94,180,273,.04); background: rgba(255,255,255,.02); color: #fff; text-decoration: none; }
.lt-ie9 .list-a li a:hover, .lt-ie9 .list-a li a:focus, .lt-ie9 .list-a li a:active, .lt-ie9 .nav-a ul li a:hover, .lt-ie9 .nav-a ul li a:focus, .lt-ie9 .nav-a ul li a:active, .lt-ie9 .nav-a ul li.active a, .lt-ie9 .tabs-a > ul li a, .lt-ie9 .news-b > ul li > a:hover, .lt-ie9 .news-b > ul li > a:focus, .lt-ie9 .news-b > ul li > a:active { background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#05FFFFFF,endColorstr=#05FFFFFF); zoom: 1;  }
	
	
/*! Figures --------- */
img { border-width: 0; image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; vertical-align: middle; }
	img::selection { background: transparent; }
	img::-moz-selection { background: transparent; }
@media only screen and (min-width: 1px) { 
img { max-width: 100% !important; } img { height: auto !important; } 
.gallery-c li img { position: relative; width: auto !important; min-width: 61px !important; max-width: none !important; min-height: 61px !important; border-radius: 2px; }
}

.image-a { overflow: hidden; position: relative; margin: 0 0 13px; border-radius: 2px 2px 0 0; color: #fff; font-weight: 700; font-size: 1.3em; }
	.image-a img { display: block; position: relative; z-index: 1; }
	.image-a a { display: block; overflow: hidden; position: relative; color: #fff; }
	.image-a figcaption, .image-a a span { display: block; position: absolute; left: 0; right: 0; bottom: 0; z-index: 2; padding: 12px 20px 10px; background: rgba(0,0,0,.32); }
	.lt-ie9 .image-a figcaption, .lt-ie9 .image-a a span, .lt-ie9 .video-a > .fit-a { background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#51000000,endColorstr=#51000000); zoom: 1;  }

.video-a { display: block; position: relative; }
	.video-a > * { position: relative; z-index: 1; }
	.video-a > .fit-a { display: block; position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%; background: rgba(0,0,0,.32); cursor: pointer; }
		.video-a > .fit-a:after { content: ""; display: block; position: absolute; left: 50%; top: 50%; width: 41px; height: 26px; margin: -13px 0 0 -20.5px; background: url(../images/sprite-a.png) -117px 0 no-repeat; }


/*! Lists --------- */
ul, ol, dd, blockquote { padding-left: 40px; }
	ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }

.list-a { list-style: none; margin: 0 0 125px; padding: 0; border-top: 1px solid rgba(255,255,255,.10); line-height: 1.45; }
	.list-a li { font-size: 1.1em; }
	.list-a li img { position: absolute; left: 32px; top: 17px; }
	.list-a li a { display: block; position: relative; min-height: 50px; padding: 16px 30px 13px 108px; border-bottom: 1px solid rgba(255,255,255,.10); color: #bbc9d3; text-decoration: none; }
	.lt-ie9 .list-a li a { border-bottom: 1px solid #35393e; }
		.list-a li a > .fit-a, .nav-a li a > .fit-a, .news-b > ul li > a > .fit-a { display: block; position: absolute; left: -1px; top: -1px; width: 2px; height: 100%; border-radius: 1px; border: 1px solid #59a9de; background: #30a1e7; opacity: 0; filter: alpha(opacity = 0); }
		.list-a li a:hover > .fit-a, .list-a li a:focus > .fit-a, .list-a li a:active > .fit-a, .nav-a li a:hover > .fit-a, .nav-a li a:focus > .fit-a, .nav-a li a:active > .fit-a, .nav-a li.active a > .fit-a { opacity: 1; filter: alpha(opacity = 100); }	
	.list-a li a > span { display: block; color: #63727d; font-weight: 600; font-size: .909em; }
	.list-a li a > span span { color: #289be5; }
.cols-a > aside .list-a { margin-left: -33px; margin-right: -32px; }
	
.list-b { overflow: hidden; list-style: none; width: 105%; padding: 0; }
	.list-b li { float: left; padding: 0 4px 4px 0; font-weight: 700; font-size: 1em; }
	.list-b li a { display: block; position: relative; float: left; min-width: 31px; height: 35px; padding: 0 10px; border-radius: 2px; background: #289be5; color: #fff; line-height: 35px; text-align: center; }

.list-c { overflow: hidden; list-style: none; margin: 0 0 13px; padding: 12px 0 0; border-radius: 2px; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ border: 1px solid rgba(255,255,255,.10); border-top: 0; background: rgba(255,255,255,.02); color: #bbc9d3; line-height: 1.4; }	
.image-a + .list-c, .lt-ie9 .image-a + .list-c { margin-top: -13px; border-radius: 0 0 2px 2px; border-top: 0; } 
	.list-c li { position: relative; float: left; width: 25.3333%; padding: 0 0 12px 8%; font-weight: 700; font-size: 1.5em; }
		.list-c li:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; width: 1px; height: 10px; background: #2b313b/*rgba(255,255,255,.10)*/; }
		.list-c li:first-child:after { background: none; }
	.list-c li span { display: block; color: #63727d; font-size: .666em; }

	
/*! Forms --------- */
legend { position: absolute; left: 0; top: -3000em; padding: 0; border: 0; white-space: normal; }
.ie7 legend { left: -7px; }
fieldset, hr { border-width: 0; }
button, input[type="submit"] { padding: 0 8px; overflow: visible; cursor: pointer; -webkit-appearance: button; } button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; outline: none; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input[type="checkbox"], input[type="radio"] { padding: 0; box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
::-webkit-input-placeholder { opacity: 1; color: inherit; }
::-moz-placeholder { opacity: 1; color: inherit; }
:-moz-placeholder { opacity: 1; color: inherit; }
:-ms-input-placeholder { opacity: 1; color: inherit; }
	:focus::-webkit-input-placeholder { opacity: 0; }
	:focus::-moz-placeholder { opacity: 0; }
	:focus:-moz-placeholder { opacity: 0; }
	:focus:-ms-placeholder { opacity: 0; }

form { }
	label { display: block; left: 0; top: 0; z-index: 2; }
	form p { position: relative; clear: both; }
	form p:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
	input[type="color"], input[type="date"], input[type="datetime"], input[type="email"], input[type="tel"], input[type="text"], input[type="number"],input[type="password"], input[type="range"], input[type="search"], input[type="time"], input[type="url"], input[type="week"] { height: 44px; margin: 0; padding: 0 18px; line-height: 44px; }
	select { margin: 0; padding: 10px 10px 10px 15px; text-overflow: ''; text-indent: 0.01px; appearance: none; -moz-appearance: none; -webkit-appearance: none; } 
	select::-ms-expand { display: none; }
	textarea { margin: 0; padding: 10px 10px 10px 18px; }  
input[type="color"], input[type="date"], input[type="datetime"], input[type="email"], input[type="tel"], input[type="text"], input[type="number"],input[type="password"], input[type="range"], input[type="search"], input[type="time"], input[type="url"], input[type="week"], select, textarea { position: relative; z-index: 1; border: 0; border-radius: 3px; box-shadow: 0 1px 0 #23262a; background: #0f1317; color: #fff; font-size: 12px; outline: none; }
	button { display: block; overflow: hidden; position: relative; z-index: 3; float: right; height: 39px; margin: 0 0 0 3px; padding: 0 13px; border: 0; border-radius: 3px; background: #289be5; color: #fff; font-size: 10px; font-weight: 700; }

.form-a { width: 100%; padding: 0 0 29px; }
.form-a:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
	.lt-ie9 .form-a fieldset { float: left; }
	.form-a legend { display: block; position: relative; left: 0; top: 0; margin: 0; padding: 0 0 36px; text-align: left; }
	.form-a p { margin: 0 0 20px; }
		.form-a p > span { display: block; float: left; width: 205px; padding: 0 0 0 32px; }
		.csstransforms .form-a p > span { width: 33.33333%; }
		.form-a p > span:first-child { padding: 0; }
	.form-a label { margin: 0 0 8px; color: #8799a7; font-weight: 700; font-size: .714em; text-transform: uppercase; }
	.form-a input { width: 169px; }
	.form-a input, .form-a p > span { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; }
	.csstransforms .form-a input { width: 100%; }
		.form-a input, .form-a textarea, .form-a select { box-shadow: 0 1px 0 #313f4c; background: rgba(15,23,32,.4); }
		.boxshadow .form-a input, .boxshadow .form-a textarea, .boxshadow .form-a select { box-shadow: 0 1px 0 rgba(255,255,255,.1); }
		.lt-ie9 .form-a input, .lt-ie9 .form-a textarea, .lt-ie9 .form-a select { background: #0f1317; }
	.form-a .submit { padding: 9px 0 0; font-size: 1em; line-height: 34px; }
		.form-a .submit button { height: 34px; padding: 0 16px; }
		.form-a .submit a { display: block; position: relative; float: right; margin: 0 13px 0 0; line-height: 34px; text-decoration: none; }
			.form-a .submit a:after { content: ""; display: block; position: absolute; left: 0; bottom: 7px; width: 100%; height: 1px; border-bottom: 1px dotted #277bb2; }	
				.form-a .submit a:hover:after, .form-a .submit a:focus:after, .form-a .submit a:active:after { border: 0; }
		.form-a .submit a.a { display: block; overflow: hidden; position: relative; z-index: 3; float: right; height: 34px; margin: 0 0 0 3px; padding: 0 13px; border: 0; border-radius: 3px; background: #414e5d; color: #fff; font-size: 10px; font-weight: 700; line-height: 34px; }
			.form-a .submit a.a:after { border: 0; }

.search-a { margin: 0 0 17px; }
	.search-a p { color: #768590; font-size: 1em; }
	.js .search-a label { display: block; position: absolute; height: 44px; padding: 0 14px; line-height: 44px; cursor: text; }
	.search-a input { width: 184px; padding: 0 40px 0 14px; background: rgba(9,13,17,.4); color: #768590; font-size: 10px; }
	.lt-ie9 .search-a input { background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66090D11,endColorstr=#66090D11); zoom: 1; }
	.rgba .search-a input { width: 100%; }
	.search-a button { position: absolute; right: 0; top: 0; width: 44px; height: 44px; background: url(../images/sprite-a.png) -69px 16px no-repeat; text-indent: -3000em; }


/*! Tables --------- */
table { display: table; width: 100%; border-collapse: collapse; border-spacing: 0; }
	th, td { padding: 5px 10px; border: 1px solid #eee; font-weight: 400; text-align: left; }


/*! Helpers --------- */
* { transition: color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s, opacity 0.3s ease 0s; -moz-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s, opacity 0.3s ease 0s; -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s, opacity 0.3s ease 0s; -o-transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s, opacity 0.3s ease 0s; -ms-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s, opacity 0.3s ease 0s;  transform-origin: center center; -moz-transform-origin: center center; -webkit-transform-origin: center center; -o-transform-origin: center center; }
.list-a li a, #nav form input, .tabs-a > ul li a, .gallery-d ul li a span, .gallery-d ul li a span > .fit-a, .gallery-d ul li a * { transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; }
.video-a > .fit-a { transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none; -ms-transition: none; }

.clear { clear: both; overflow: hidden; width: 100%; height: 0; }
.hidden, [hidden] { position: absolute; left: -3000em; top: 0; }

hr, .hr { display: block; overflow: hidden; width: 100%; height: 1px; margin: 15px 0; padding: 0; border: 0; border-top: 1px solid #ccc; background: none; font-size: 0; } .hr hr { display: none; }

.rgba .search-a input { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; }

@font-face { font-family: 'League_Gothic'; src: url('fonts/leaguegothic-regular.eot'); src: url('fonts/leaguegothic-regular.eot?#iefix') format('embedded-opentype'), url('fonts/leaguegothic-regular.woff') format('woff'), url('fonts/leaguegothic-regular.ttf') format('truetype'), url('fonts/leaguegothic-regular.svg#league_gothicregular') format('svg'); font-weight: 400; font-style: normal; }


/*! Warnings --------- */
p.lt-ie9, #root:after { position: fixed; left: 0; top: 0; z-index: 1000; width: 100%; height: 28px; background: #333; color: #fff; font-size: 1.2em; font-family: Arial, Helvetica, sans-serif; line-height: 28px; text-align: center; }
	p.lt-ie9 a { color: #fff; font-weight: 700; text-decoration: underline; }
	p.lt-ie9 a:hover, p.lt-ie9 a:focus, p.lt-ie9 a:active { text-decoration: none; }
	
#root:after { content: "Hmmm.. Snälla, aktivera JavaScript för att kunna ta del av sidan."; }
.js #root:after { position: absolute; left: -3000em; top: -3000em; }
.js body { padding-top: 0; }
.lt-ie9 body { padding-top: 28px; }


/*! Miscellaneous --------- */
svg:not(:root) { overflow: hidden; }

::selection { background: #289be5; color: #fff; text-shadow: none; }
::-moz-selection { background: #289be5; color: #fff; text-shadow: none; }

#root .desktop-hide, #root .tablet-only, #root .mobile-only { position: absolute; left: -3000em; top: -3000em; bottom: inherit; right: inherit; }


/* Responsive --------- */
@media only screen and (max-width: 1100px) {
#content, #footer, #content.cols-a, #nav, #featured, #content.cols-b, #content.cols-c, .gallery-d { width: 960px; }
	#top > h1 { margin-left: -480px; }
	#nav form.active input { width: 120px; }
#content.a { width: 271px; }

.cols-a > *:first-child { width: 590px; }
.cols-b > *:first-child, .cols-b > header:first-child + * { width: 710px; }
.cols-c > *:first-child, .news-c article.featured { width: 715px; }
.double-a > * { width: 48%; }
.double-a > *:first-child { width: 50%; }

.comments-a { }
	.comments-a textarea { width: 100%; }
.gallery-b { width: 100%; }
	.gallery-b li { width: 33.3333%; height: 86px; margin-bottom: 30px; padding-right: 10px; padding-bottom: 30px; }
.news-c { width: auto; margin-left: -2%; }
	.news-c article { width: 31.3333%; margin-right: 0; margin-left: 2%; }
.slider-a { }
	.slider-a .gallery-c { width: auto; margin-left: -14px; }
	.slider-a .gallery-c li { width: 25%; padding-left: 0; padding-right: 0; border-left: 14px solid rgba(0,0,0,0); }

#content, .comments-a textarea, .gallery-b li, .slider-a .gallery-c li, .news-c article { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; }
}
@media only screen and (max-width: 990px) {
#content, #footer, #content.cols-a, #featured, #content.cols-b, #content.cols-c, .gallery-d { width: 720px; }
#top { }
	#top > h1 { margin-left: -360px; }
	#top > .fit-a { display: block; position: absolute; right: 50%; top: 9px; width: 50px; height: 50px; margin: 0 -360px 0 0; border-radius: 2px; background: url(../images/2x/nav.png) no-repeat rgba(0,0,0,.3); background-size: cover; cursor: pointer; }
		#top.active > .fit-a { border-radius: 2px 2px 0 0; background-color: rgba(0,0,0,.9); }
	#nav { position: absolute; right: 50%; top: -3000em; width: 50%; max-width: 720px; margin: 0 -360px 0 0; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ background: rgba(0,0,0,.9); }
	#top.active #nav { top: 59px; }
		#nav > ul { padding: 0; }
			#nav > ul > li, #nav > #secondary > li, #nav > ul > li > ul > li { float: none; height: auto; padding: 1px 0 0; font-size: 1.3em; }
			#nav > ul > li:first-child, #nav > ul > li > ul > li:first-child { padding: 0; }
			#nav > ul > li > a, #nav > #secondary > li > a, #nav > #secondary > li.a > a, #nav > #secondary > li.b > a, #nav > ul > li > ul > li > a { position: relative; float: none; width: auto; height: auto; padding: 5px 20px; border: 0; border-radius: 0; background: none; font-weight: 600; line-height: 1.4; text-indent: 0; text-transform: none; }
				#root #nav > ul > li > a:hover, #root #nav > ul > li > a:focus, #root #nav > ul > li > a:active, #root #nav > ul > li.active > a, #nav > ul > li > ul > li a:hover, #nav > ul > li > ul > li a:focus, #nav > ul > li > ul > li a:active {/* background: #1ea5fe;*/ color: #fff;  text-shadow: 0 0 11px rgba(53,172,227,.9), 2px 2px 3px rgba(53,172,227,.75); } 
				#nav > ul > li > a > .fit-a { left: -3000em; top: 0; width: 1px; height: 100%; }
				#nav > #secondary > li.a.new > a { padding-left: 34px; }
				#nav > #secondary > li.a.new > a > .fit-a { left: 20px; top: 50%; width: 6px; height: 6px; margin: -3px 0 0; border-radius: 10px; background: #1ea5fe; }
					/*#nav > #secondary > li.a.new > a:hover > .fit-a, #nav > #secondary > li.a.new > a:focus > .fit-a, #nav > #secondary > li.a.new > a:active > .fit-a, #nav > #secondary > li.a.new.active > a > .fit-a { background: #000; }*/
		#nav > #secondary { float: none; padding: 0 0 5px; }
			#nav > #secondary > li { }
			#nav > ul > li > ul { position: relative; right: 0; top: 0; padding: 0; width: auto; border-radius: 0; border: 0; background: none; }
				#nav > ul > li > ul > li { font-size: 1em; }	
				#nav > ul > li > ul > li a span { right: 10px; top: 5px; }
					/*#nav > ul > li > ul > li a:hover span, #nav > ul > li > ul > li a:focus span, #nav > ul > li > ul > li a:active span { color: #000; }*/
		#nav form { width: auto; float: none; padding: 0 0 5px; }
			#nav form p { float: none; margin: 0; }
			#root #nav form input, #nav form.active input { width: 100%; height: 38px; padding: 0 40px 0 20px; border-top: 0; border-left: 0; border-right: 0; border-radius: 0; color: #fff; line-height: 38px; cursor: text; }
			#nav form button, #nav form.active button { z-index: 2; top: 5px; }
#featured { }	
	#featured h2 { font-size: 6em; letter-spacing: 1px; }

.cols-a > *:first-child { width: 350px; }
.cols-b > *:first-child, .cols-b > header:first-child + * { width: 470px; }
.cols-c > *:first-child, .news-c article.featured { width: 475px; }
.double-a > *, .double-a > *:first-child { float: none; width: auto; }

.comments-a { }
	.comments-a > ul { }
		.comments-a > ul > li { padding-left: 0; padding-top: 130px; }
	.comments-a form { padding-bottom: 30px; }
		.comments-a form p > span { float: right; width: 49%; margin: 0; padding: 0; }
		.comments-a form p > span:first-child { float: left; }
		.comments-a form input { width: 100%; }
.gallery-b { }	
	.gallery-b li { width: 50%; }
.news-c { }
	.news-c article.featured { padding-left: 0; padding-top: 0; }
		.news-c article.featured header { padding: 0; }	
		.news-c article.featured figure { position: relative; left: 0; top: 0; width: 100%; max-height: none; height: auto; margin-top: -1px; padding: 0; border-radius: 0; }
			.news-c article.featured figure img { width: 100% !important; border-radius: 2px 2px 0 0; }
		.news-c article.featured footer:after { background: none; }
		.news-c article > header > figure { max-height: none; }
.slider-a { }
	.slider-a .gallery-c li { width: auto; padding-left: 0; padding-right: 0; border-left: 14px solid rgba(0,0,0,0); }

.form-a { }
	.form-a fieldset { float: none; }
	.form-a p > span { width: 33.3333%; padding-left: 20px; }
	.form-a input, .form-a textarea { width: 100%; }

#root .desktop-hide, #root .tablet-only { position: relative; left: 0; top: 0; }
#root .desktop-only, #root .tablet-hide, #nav > #secondary > li > img, #root #nav > ul > li.sub > a { position: absolute; left: -3000em; top: -3000em; bottom: inherit; right: inherit; }

.comments-a form input, #nav form input, .form-a p > span, .form-a input, .form-a textarea { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; }
}
@media only screen and (max-width: 760px) {
#content, #footer, #content.cols-a, #nav, #featured, #content.cols-b, #content.cols-c, .gallery-d { width: 90%; }
#content.cols-a { padding-bottom: 2em; }
	#top { background: url(../images/2x/top.png) center 100% no-repeat; background-size: 100% 100%; }
	#top > h1 { left: 5%; margin-left: 0; }
	#top > .fit-a, #nav { right: 5%; margin-right: 0; }
	#nav { width: auto; min-width: 50%; max-width: 75%; }
		#root #nav > #secondary > li > a { border: 0; }
#featured { }
	#featured .gallery-a { float: none; text-align: center; }
		#featured .gallery-a li, #featured .social-a li { display: -moz-inline-stack; display: inline-block; float: none; }
	#featured .social-a { top: 0; float: none; margin: 0 0 10px; text-align: center; }
	#featured .sort-a { position: relative; bottom: 0; margin: 0 0 19px; }
		#featured .sort-a > li, #featured .sort-a > li > span { display: block; text-align: left; }
#footer { }
	#footer nav > div { width: 33.3333%; }
	#footer > p > span { float: none; padding: 0; }
		#footer > p > span:after { left: -3000em; }
		#footer > p > span:first-child { margin-bottom: 1em; }
	
.cols-a { width: 100%; /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/ border: 1px solid rgba(255,255,255,.10); background: rgba(255,255,255,.02); }
	.cols-a > *:first-child, .cols-a > aside, .cols-c > *:first-child, .cols-c > aside, .cols-b > *:first-child, .cols-b > aside, .cols-b > header:first-child + *, .cols-b > header:first-child, .news-c article.featured { float: none; width: auto; min-height: 0 !important }
	.cols-a > aside, .cols-a > *:first-child, #content, .tabs-a > div { padding-left: 20px; padding-right: 20px; }
		.cols-a > *:first-child > .comments-a, .cols-a > aside .list-a { width: auto; margin-left: -20px; margin-right: -20px; }
.cols-b { } 
	.cols-b > *:first-child { margin-bottom: 20px; }
	.cols-c > *:first-child { margin-bottom: 13px; }
	
.comments-a { }
	.comments-a form p > span, .comments-a form p > span:first-child { float: none; width: 100%; margin-bottom: 11px; }
	.comments-a form p > span:last-child { margin-bottom: 0; }
.image-a img, .video-a img, .news-c img { width: 100% !important; }
.list-a { margin-bottom: 50px; }
.nav-a:last-child { margin-bottom: 0; }
.news-c { margin-left: 0; }
	.news-c article { float: none; width: auto; margin: 0 0 13px; }
.tabs-a { }
	.tabs-a > div { border: 1px solid rgba(255,255,255,.10); }

.form-a { }
	.form-a p > span, .form-a p > span:first-child, .csstransforms .form-a p > span { float: none; width: auto; margin: 0 0 20px; padding: 0; }
	.form-a p > span:last-child { margin: 0; }
	
#root .tablet-hide, #root .mobile-only, #root .tabs-a > .sort { position: relative; left: 0; top: 0; }
#root .tablet-only, #root .mobile-hide, #root #nav > #secondary > li > a > .fit-a, .js .tabs-a > ul, .gallery-d { position: absolute; left: -3000em; top: -3000em; bottom: inherit; right: inherit; }
}
@media only screen and (max-width: 500px) {
.gallery-b { }	
	.gallery-b li { float: none; width: auto; padding-right: 0; }
}
@media only screen and (max-width: 400px) {
#featured { }
	#featured header ul { left: 0; width: 100%; margin: 0; }
#footer nav > div { float: none; width: auto; margin-bottom: 3em; }
#footer nav > div:last-child { margin-bottom: 0; }
}
@media only screen and (min-moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
#top { background: url(../images/2x/top.png) center 100% no-repeat; background-size: 100% 100%; }
	#top > h1 a { background: url(../images/2x/logo.png) no-repeat; background-size: cover; }
		#nav > #secondary > li.a > a { background: url(../images/2x/user-icon-a.png) no-repeat; background-size: cover; }
		#nav > #secondary > li.b > a { background: url(../images/2x/user-icon-c.png) no-repeat; background-size: cover; }
		#nav > #secondary > li.a.new > a { background: url(../images/2x/user-icon-b.png) no-repeat; background-size: cover; }
#nav { } 
	#nav form button { background: url(../images/2x/search-b.png) no-repeat; background-size: cover; }

.comments-a { }
	.comments-a > ul figure:after { background: url(../images/2x/clip-a.png) no-repeat; background-size: cover; }
.pagination-a { }
	.pagination-a li.prev a { background: url(../images/2x/arrow-left-a.png) no-repeat; background-size: cover; }
	.pagination-a li.next a { background: url(../images/2x/arrow-right-a.png) no-repeat; background-size: cover; }
.search-a { }
	.search-a button { background: url(../images/2x/search-a.png) no-repeat; background-size: cover; }
.social-a { }
	.social-a li.pp a { background-image: url(../images/2x/icon-pp-a.png); background-position: 0 0; background-repeat: no-repeat; background-size: cover; }
	.social-a li.tw a { background-image: url(../images/2x/icon-tw-a.png); background-position: 0 0; background-repeat: no-repeat; background-size: cover; }
	.social-a li.fb a { background-image: url(../images/2x/icon-fb-a.png); background-position: 0 0; background-repeat: no-repeat; background-size: cover; }
	.social-a li.yt a { background-image: url(../images/2x/icon-yt-a.png); background-position: 0 0; background-repeat: no-repeat; background-size: cover; }
	.social-a li.in a { background-image: url(../images/2x/icon-in-a.png); background-position: 0 0; background-repeat: no-repeat; background-size: cover; }
.sort-a { }
	.sort-a > li > span:after, #nav > #secondary > li > a > .fit-a { background: url(../images/2x/arrow-bottom-a.png) no-repeat; background-size: cover; }
.video-a { }
	.video-a > .fit-a:after { background: url(../images/2x/video-a.png) no-repeat; background-size: cover; }
}