﻿@charset "utf-8";
/* CSS Document */

hr {
	width: 100%;
	height: 1px;
	border: 0;
	background: -webkit-linear-gradient(left,  rgba(198,0,3,0) 0%,rgba(39,123,178,0.7) 50%,rgba(198,0,3,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(198,0,3,0) 0%,rgba(39,123,178,0.7) 50%,rgba(198,0,3,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(198,0,3,0) 0%,rgba(39,123,178,0.7) 50%,rgba(198,0,3,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(198,0,3,0) 0%,rgba(39,123,178,0.7) 50%,rgba(198,0,3,0) 100%); /* W3C */
}

ol,ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

a,img a,img,a img {
	border:0;
	outline:0;
	text-decoration:none;
}

img {vertical-align:top; max-width:100%;}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin:0px;
  font-family: inherit;
  font-weight: normal;
  color: inherit;
}

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000;
	margin:0;
	}
	
/*Fontface
---------------------------------*/

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
	
/* Wrapper
---------------------------------*/
.wrapper
{
	width:1027px;
	margin:0 auto;
}

.background {
	background:url(/themes/standard/img/background1.jpg) center top no-repeat;
	background-size:cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/standard/img/background1.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/standard/img/background1.jpg', sizingMethod='scale')";
	width:100%;
	}
	
.page_outer {
	background:url(/themes/standard/img/background2.jpg) center top no-repeat;
	}
	
.header {
	background:url(/themes/standard/img/top_bg.png) center top repeat-x;
	}
	
.logo {
	float:left;
	padding:13px 20px 14px 0;
	}
	
.navigation {
	float:left;
	}
	
.navigation ul {
	list-style:none;
	}
	
.navigation li {
	float:left;
	display:block;
	padding:29px 25px 33px;
	}

.navigation li a {
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	color:#fff;
	text-transform:uppercase;
	font-weight:700;
	text-align:center;
	
	}
	
.navigation li:hover {
	background:url(/themes/standard/img/m-hover.png) center bottom no-repeat;
	}
	
.navigation li:hover a{
	/*background:url(/themes/standard/img/nav_hover.png) left top repeat-x;*/
	text-shadow:1px 1px 8px #2a6e92, 1px 1px 16px #2a6e92;
	}
	
.header_cont {
	float:right;
	padding:22px 0 0;
	}
	
.search_bar {
	border:1px solid #2795dc;
	float:left;
	padding-right:7px;
	border-radius:15px;
	position:relative;
	height:27px;
	margin-right:20px;
	}
	
.search_toggle {
	position:absolute;
	right: 20px;
    top: 0;
	width:31px;
	height:31px;
	}	
	
.search_box {
	position:relative;
	float:left;
	}
	
.search_text {
	background:none;
	border:0;
	width:0;
	overflow:hidden;
	float:left;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:11px;
	color:#fff;
	padding:5px 0 5px 8px;
	}
	
.search_btn {
	background:url(/themes/standard/img/seacrh_icon.png) 0 0 no-repeat;
	width:12px;
	height:12px;
	border:0;
	margin:8px 0;
	cursor:pointer;
	}
	
.login_area {
	position:relative;
	float:left;
	padding:8px;
	border:1px solid transparent;
	}
	
.login_area:hover {
	border-radius:5px;
	border:1px solid #276b99;
	}
	
a.login_btn {
	background:url(/themes/standard/img/arrow1.png) right 6px no-repeat;
	float:left;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:11px;
	color:#fff;
	text-transform:uppercase;
	cursor:pointer;
	display:block;
	padding:0 13px 0 0;
	}
	
.login_box {
	background:url(/themes/standard/img/transparent_bg1.png) left top repeat;
	position:relative;
	border-radius:5px;
	padding:19px 19px 8px 19px;
	width:175px;
	position:absolute;
	top:47px;
	right:0;
	display:none;
	}
	
.login_box .login_text {
	background:url(/themes/standard/img/transparent_bg2.png) left top repeat;
	padding:8px 5px 8px 12px;
	position:relative;
	border-radius:5px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#9babbc;
	margin-bottom:6px;
	border:0;
	}
	
.button1 {
	background:#414e5d;
	border-radius:2px;
	position:relative;
	width:85px;
	color:#fff;
	padding:9px 0;
	text-align:center;	
	font-family: 'Open Sans', sans-serif;
	font-size:10px;
	font-weight:700;
	float:left;
	margin:5px 3px 5px 0;
	border:0;
	cursor:pointer;
	}
	
.button1.no_mar_right {
	margin-right:0 !important;
	}
	
.no_margin {
	margin:0 !important;
	}
	
.button1:hover {
	background:#277bb2;
	}
	
.login_box a {
	font-family: 'Open Sans', sans-serif;
	font-size:10px;
	color:#277bb2;
	display:block;
	float:right;
	border-bottom:1px dotted #277bb2;
	margin:9px 0;
	font-weight:400;
	}
	
.login_box a:hover {
	border:none;
	}
	
.banner_area {
	height:1%;	
	}
	
.banner_caption {
	width:386px;
	margin:0 auto;
	padding:24px 0;
	text-align:center;
	}
	
.banner_caption ul {
	list-style:none;
	padding:0 23px;
	}
	
.banner_caption li {
	float:left;
	text-align:center;
	padding:10px;
	}
	
.banner_caption li .box1 {
	background:url(/themes/standard/img/bg1.png) left top no-repeat;
	width:78px;
	height:36px;
	margin:35px 0;
	padding:21px 0;
	}
	
.banner_caption li .box1 strong {
	font-family: 'league_gothicregular';
	font-size:30px;
	color:#82f455;
	display:block;
	line-height:26px;
	}
	
.banner_caption li .box1 strong span {
	display:inline;
	color:#f4557b;
	}
	
.banner_caption li .box1 small {
	font-family: 'Open Sans', sans-serif;
	font-size:10px;
	font-weight:600;
	text-transform:uppercase;
	color:#fff;
	display:block;
	line-height:10px;
	}
	
.banner_caption li .box2 {
	background:url(/themes/standard/img/bg2.png) center center no-repeat;
	width:124px;
	height:144px;
	text-align:center;
	}
	

.banner_caption h2 {
	font-family: 'league_gothicregular';
	font-size:70px;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:2px;
	}
	
.banner_cont {
	padding:28px 0 17px;	
	}
	
.sponsor_link {
	float:left;
	}
	
.sponsor_link strong {
	display:block;
	font-family: 'Lato', sans-serif;
	font-size:10px;
	font-weight:700;
	color:#8997a6;
	padding:0 0 28px;
	}
	
.sponsor_link ul {
	list-style:none;
	}
	
.sponsor_link li {
	float:left;
	padding:0 11px;
	}
	
.sponsor_link li a {
	display:block;
	}
	
.social_icon {
	float:right;
	padding:40px 0 0;
	height:32px;
	}
	
.social_icon ul {
	list-style:none;
	}
	
.social_icon li {
	background:url(/themes/standard/img/icon_bg.png) left top repeat;
	position:relative;
	border-radius:5px;
	float:left;
	margin:0 1px;
	text-align:center;
	}
	
.social_icon li a {
	display:block;
	padding:8px 0;
	width:35px;
	}

.social_icon li:hover {
	background:#277bb2;	
	}
	
.select_box1 {
	background:url(/themes/standard/img/transparent_bg3.png) left top repeat;
	width:108px;
	height:28px;
	border:1px solid #293c4f;
	margin:41px auto 2px;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	font-weight:700;
	color:#fff;
	text-transform:uppercase;
	position:relative;
	}
	
.select_box1 a {
	padding:10px;
	color:#fff;
	padding:6px 12px;
	display:block;
	background:#3282b6;
	border-bottom:2px solid #3d88ba;
	text-transform:uppercase;
	font-size:12px;
	}
	
.select_box1 a.toggle {
	background: url(/themes/standard/img/drop_arrow.png) 88px top no-repeat;
	border:0;
	}
	
.select_box1 a.toggle.active {
	background-color:#277bb2;
	background-image:none;
	border-bottom:1px solid #3d88ba;
	}
	
.years {display:none;}
	
/*Content Section
---------------------------*/

.container {
	background:url(/themes/standard/img/content_bg.png) left top repeat, url(/themes/standard/img/content-left-bg.png) repeat-y 0 0 ;
	border:1px solid #2c323b;
	width:1025px;
	}
	
.main_cont {
	width:653px;
	float:left;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:14px;
	color:#cfdee8;
	padding:34px 33px 25px;	
	}
	
.main_cont h1 {
	font-weight:700;
	font-size:20px;
	color:#fff;
	padding:0 0 9px;
	}
	
.main_cont strong {
	font-weight:600;
	font-size:10px;
	color:#63727d;
	display:block;
	padding:0 0 28px;
	}
	
.main_cont p {
	line-height:25px;
	padding:0 0 25px;
	}
	
a.button2 {
	background:#289be5;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	text-align:center;
	font-size:10px;
	color:#fff;
	display:inline-block;
	padding:13px 18px;
	position:relative;
	border-radius:2px;
	margin:14px 0 31px;
	}
	
.textarea {
	background:#dfdfdf;
	width:630px;
	height:80px;
	padding:10px;
	margin:0 0 29px;
	border:0;
	resize:none;
	}
	
.separator {
	background:url(/themes/standard/img/separator.png) left top repeat-x;
	padding-bottom:1px;
	}
	
.sidebar {
	width:226px;
	float:right;
	padding:36px 39px;
	}
	
.sidebar .input_text {
	background:#141a22;
	border:0;
	border-radius:5px;
	position:relative;
	font-family: 'Open Sans', sans-serif;	
	font-size:10px;
	color:#768590;
	font-weight:400;
	padding:14px;
	width:199px;
	}
	
.sidebar_cont {
	padding:41px 0;
	}
	
.sidebar_cont h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size:10px;
	color:#4e5b65;
	text-transform:uppercase;
	padding:0 0 8px;
	}
	
.sidebar_cont ul {
	list-style:none;
	}
	
.sidebar_cont li {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:11px;
	color:#98a8b3;
	line-height:19px;
	padding:10px 0;
	}
	
.sidebar_cont li em {
	font-style:normal;
	color:#45e263;
	font-weight:600;
	}
	
.sidebar_cont li small {
	font-size:11px;
	color:#459ee2;
	font-weight:600;
	}
	
.sidebar_cont li span {
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:11px;
	color:#277bb2;
	line-height:19px;
	}
	
.sidebar_link {
	
	}
	
.sidebar_link h5 {
	font-family: 'Open Sans', sans-serif;
	font-size:10px;
	color:#4e5b65;
	font-weight:700;
	text-transform:uppercase;
	padding:0 0 25px;
	}
	
.sidebar_link ul {
	list-style:none;
	}
	
.sidebar_link li {
	float:left;
	}
	
.sidebar_link li a {
	font-family: 'Open Sans', sans-serif;
	background:#289be5;
	display:block;
	margin-right:5px;
	position:relative;
	border-radius:2px;
	text-align:center;
	font-size:10px;
	font-weight:700;
	color:#fff;
	padding:10px 15px;
	}
	
.spacer1 {
	height:108px;
	}
	
.spacer2 {
	height:796px;
	}
	
.spacer3 {
	height:496px;
	}
	
.page_cont_link {
	width:165px;
	margin:0 auto;
	}
	
.page_cont_link ul {
	list-style:none;
	}
	
.page_cont_link li {
	background:#2c3139;
	position:relative;
	border-radius:2px;
	border:1px solid #383c43;
	margin:0 2px;
	float:left;
	width:26px;
	}
	
.page_cont_link li a {
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#fff;
	text-align:center;
	padding:5px 9px;
	}
	
.page_cont_link li a.left_img {
	background:url(/themes/standard/img/left_arrow.png) center center no-repeat;
	padding:13px 12px 14px;
	}
	
.page_cont_link li a.right_img {
	background:url(/themes/standard/img/right_arrow.png) center center no-repeat;
	padding:13px 12px 14px;
	}
	
.page_cont_link li:hover {
	background:#4d5158;
	position:relative;
	border-radius:2px;
	}

	
	
/*

font-family: 'Open Sans', sans-serif;

font-family: 'Lato', sans-serif;

font-family: 'league_gothicregular';

*/
	
/*Footer
---------------------------*/

.footer {
	border-top:1px solid #33383f;
	}
	
.footer_link {
	width:140px;
	float:left;
	padding:53px 0;
	}
	
.footer_link ul {
	list-style:none;
	}
	
.footer_link li {
	padding:6px 0;
	font-family: 'Open Sans', sans-serif;
	}
	
.footer_link li h3 {
	font-size:11px;
	color:#63727d;
	text-transform:uppercase;
	font-weight:600;
	}
	
.footer_link li a {
	display:block;
	font-size:11px; 
	color:#fff;
	font-weight:600;
	}
	
.footer_link li a:hover {
	text-decoration:underline;
	}
	
.footer_bottom {
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	color:#63727d;
	clear:both;
	border-top:1px solid #191b1d;
	padding:27px 0 35px;
	}
	
.footer_bottom ul {
	list-style:none;
	}
	
.footer_bottom li {
	background:url(/themes/standard/img/devider1.png) right center no-repeat;
	float:left;
	padding:0 21px 0 15px;
	}
	
.left_padd {
	padding-left:0 !important;
	}
	
.right_padd {
	padding-right:0 !important;
	}
	
.postText{
  height:100px;
  overflow:hidden;
}